In [1]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

#******************************************************************************************************************************************************


def main_tr_db():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1




            
            print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                             {:>5}".format(a_sum))

#******************************************************************************************************************************************************

def bill_wise_detail(c_bill):
    c_bill = c_bill

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0
    a_sum = 0


    print("{}      {}     {:<8}  {}    {:<10} {} {:>4} {:>3}  {:>6}  {:>6}".format('Bill','Date','Cu_Name','Cu_ID','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            
            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id


                print("{}  {}  {:<8} {}    {:<10}    {}     {:>4}    {:>3}      {:>6}   {:>6}".format(bill,date,t_name,t_id,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                     {:>6}".format(a_sum))
    print()

#******************************************************************************************************************************************************


def bill_wise_detail_all():
    for i in range(len(tr_un_bill)):
        bill_wise_detail(tr_un_bill[i])
        print()
        print()

#******************************************************************************************************************************************************

def bill_wise_total(c_bill):

    c_bill = c_bill
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    c_sum = 0
    x = 0

    print(" {:<8}   {}     {}   {}   {:>6} {:>6}".format('Bill','Date','Cu_ID','Cu_Name','Amount_Sum','C_Sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_bill = bill 
                t_date = date
                t_name = tr_cu_name
    c_sum = c_sum + a_sum
    print("{:<8} {}  {}    {:<8}  {:>6}    {:>6}".format(t_bill,t_date,t_id,t_name,a_sum,c_sum))
    
#******************************************************************************************************************************************************

def bill_wise_summary():
    
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print(" {:<8}   {}     {}   {}   {:>6} {:>6}".format('Bill','Date','Cu_ID','Cu_Name','Amount_Sum','C_Sum'))
    print()

    for u in range(len(tr_un_bill)):
        c_bill = tr_un_bill[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if bill == c_bill:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
        c_sum = c_sum + a_sum
        print("{:<8} {}  {}    {:<8}  {:>6}    {:>6}".format(t_bill,t_date,t_id,t_name,a_sum,c_sum))
    print()
    print("Total ::                               {:>6}".format(c_sum))

#******************************************************************************************************************************************************

def cust_wise_detail(cust_id):

    cust_id = cust_id
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    c_sum = 0
    x = 0

    print("{:<8}   {:<5}    {:<8}    {:<10} {:<10} {:>6}   {:>4}    {:>3}     {:>6}  {:>6}".format('Cu_Name','Cu_ID','Date','Bill','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
        

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id

                print("{:<8}   {:<5}   {:<8}  {:<10} {:<10} {:>6}        {:>4}          {:>3}       {:>6}   {:>6}".format(t_name,t_id,date,bill,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                                   {:>6}".format(a_sum))
    print()

#******************************************************************************************************************************************************                

def cust_wise_detail_all():
    for i in range(len(tr_cu_un)):
        cust_wise_detail(tr_cu_un[i])
        print()
        print()

#******************************************************************************************************************************************************

def cust_wise_summary():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<8}     {:<6}  {:>6}   {:>6}".format('Cu_Name','Cu_ID','Amount_Sum','C_Sum'))
    print()

    for u in range(len(tr_cu_un)):
        cust_id = tr_cu_un[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if tr_cu_id == cust_id:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
        c_sum = c_sum + a_sum
        print("{:<8}     {:<6}  {:>6}      {:>6}".format(t_name,t_id,a_sum,c_sum))
    print()
    print("Total ::                         {:>6}".format(c_sum))

#******************************************************************************************************************************************************

def date_wise_summary():
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0


    print("  {:<10}    {:>6}   {:>6}".format('Date','Amount','a_sum'))
    print()

    for u in range(len(tr_un_date)):
        cu_date = tr_un_date[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if date == cu_date:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_date = date
                    t_amount = amount
        c_sum = c_sum + a_sum
        print("{:<10}    {:>6}    {:>6}".format(t_date,a_sum,c_sum))
    print()
    print("Total ::      {:>6}".format(c_sum))
                    
#******************************************************************************************************************************************************

def date_wise_amount(i_date):

    i_date = i_date
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    a_sum = 0
    x = 0


    print("  {}         {:>6}".format('Date','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if date == i_date:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_date = date
                t_amount = amount

                
    c_sum = c_sum + a_sum
    print("{}    {:>6}".format(t_date,c_sum))
    print()

#***************************************************************************************************************************************************** 
   

def date_wise_detail_all():
    for i in range(len(tr_un_date)):
        date_wise_detail(tr_un_date[i])
        print()
        print()

#******************************************************************************************************************************************************

def date_wise_detail(cu_date):

    cu_date = cu_date
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    a_sum = 0
    x = 0

    print("{}          {}    {}   {:<8}  {:<10} {} {:>4}  {:>3}     {:>6}  {:>6}".format('Date','Bill','Cu_ID','Cu_Name','Item','Item_code','Item_rate','Qty','Amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            
            if date == cu_date:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_date = cu_date
                print("{}    {}   {}   {:<8}  {:<10}  {}     {:>4}     {:>3}     {:>6}   {:>6}".format(t_date,bill,t_id,t_name,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                      {:>6}".format(a_sum))
    print()
                
#******************************************************************************************************************************************************

# 23480

def item_wise_detail(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    q_sum = 0
    x = 0
    
    print("{:>3}     {:<10} {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6} {:>6}".format('x','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity


            if item == i_name:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
                x = x+1

                print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,\
                    item_code,tr_cu_id,tr_cu_name,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                    {:>4} {:>6}".format(q_sum,a_sum))
                
  


def item_wise_detail_all():
    for u in range(len(tr_item_un)):
        item_wise_detail(tr_item_un[u])
        print()
        print()


def item_wise_summary():


    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
    print()

    for u in range(len(tr_item_un)):
        i_name = tr_item_un[u]
        a_sum = 0
        q_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if item == i_name:
                    a_sum = a_sum + amount
                    q_sum = q_sum + quantity
                    t_item_code = item_code
                    t_item_name = item
                    t_item_rate = item_rate
                    

                    
        c_sum = c_sum + a_sum        
        print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    print()
    print("Total ::                                          {:>6}".format(c_sum))
    print()




def item_wise_amount(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    q_sum = 0
    x = 0

    print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
        
            

            if item == i_name:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
                t_item_name = i_name
                t_item_code = item_code
                t_item_rate = item_rate
                
                        
    print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum))
    print()

In [ ]:
main_tr_db()

In [63]:
date_wise_detail('27/02/2021')

Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

27/02/2021    120001   1210   Rajesh    apple       1001       60       3        180      180
27/02/2021    120001   1210   Rajesh    grapes      1005       45       4        180      360
27/02/2021    120002   1211   Rakesh    pears       1003       30       6        180      540
27/02/2021    120002   1211   Rakesh    mango       1004       50       8        400      940
27/02/2021    120002   1211   Rakesh    orange      1002       40       6        240     1180
27/02/2021    120003   1212   Sahil     pears       1003       30       2         60     1240
27/02/2021    120003   1212   Sahil     apple       1001       60       3        180     1420
27/02/2021    120003   1212   Sahil     orange      1002       40       4        160     1580
27/02/2021    120003   1212   Sahil     cherry      1012       90       5        450     2030
27/02/2021    120003   1212   Sahil     mango       1004       50       6        300     2330
27/02/2021    120003   1212   Sahil     apple       1001       60       7        420     2750

Total ::                                                                        2750

In [52]:
bill_wise_summary()

 Bill       Date     Cu_ID   Cu_Name   Amount_Sum  C_Sum

120001   27/02/2021  1210    Rajesh       360       360
120002   27/02/2021  1211    Rakesh       820      1180
120003   27/02/2021  1212    Sahil       1570      2750
120004   28/02/2021  1213    Jack         900      3650
120005   28/02/2021  1214    Steve        555      4205
120006   02/03/2021  1215    Rohan       3570      7775
120007   03/03/2021  1211    Rakesh      2000      9775
120008   04/03/2021  1214    Steve       1620     11395
120009   05/03/2021  1215    Rohan       3020     14415
120010   05/03/2021  1216    Millan      3260     17675
120011   05/03/2021  1217    mikul        780     18455

Total ::                                18455

In [53]:
date_wise_summary()

  Date          Amount    a_sum

27/02/2021      2750      2750
28/02/2021      1455      4205
02/03/2021      3570      7775
03/03/2021      2000      9775
04/03/2021      1620     11395
05/03/2021      7060     18455

Total ::       18455

In [54]:
cust_wise_summary()

Cu_Name      Cu_ID   Amount_Sum    C_Sum

Rajesh       1210       360         360
Rakesh       1211      2820        3180
Sahil        1212      1570        4750
Jack         1213       900        5650
Steve        1214      2175        7825
Rohan        1215      6590       14415
Millan       1216      3260       17675
mikul        1217       780       18455

Total ::                          18455

In [2]:
item_wise_summary()

  Item_name    Item_Code   Item_Rate   Quantity   T_Amount   C_Sum

  apple          1001         60         44         2640      2640
  grapes         1005         45          7          315      2955
  pears          1003         30         16          480      3435
  mango          1004         50         42         2100      5535
  orange         1002         40         42         1680      7215
  cherry         1012         90         20         1800      9015
  pineapple      1007         60          5          300      9315
  guava          1006         40          8          320      9635
  Strawberry     1010        150         10         1500     11135
  dates          1008        100         48         4800     15935
  banana         1009         10         20          200     16135
  Blackberry     1011        110          2          220     16355
  jelly          1013         20          5          100     16455
  jackfruit      1014         40         50         2000     18455

Total ::                                           18455

In [62]:
main_tr_db()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455

Total ::                                                             18455

In [5]:
item_wise_detail('orange')

  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    orange     1002       1211    Rakesh       40      6    240      240
  2  27/02/2021   120003    orange     1002       1212    Sahil        40      4    160      400
  3  28/02/2021   120004    orange     1002       1213    Jack         40      9    360      760
  4  02/03/2021   120006    orange     1002       1215    Rohan        40     13    520     1280
  5  03/03/2021   120007    orange     1002       1211    Rakesh       40     10    400     1680

Total ::                                                                      42   1680

In [9]:
cust_wise_detail('1215')

Cu_Name    Cu_ID    Date        Bill       Item       Item_code   Item_rate    Quantity     Amount   a_sum

Rohan      1215    02/03/2021  120006     mango        1004          50           12          600      600
Rohan      1215    02/03/2021  120006     orange       1002          40           13          520     1120
Rohan      1215    02/03/2021  120006     guava        1006          40            8          320     1440
Rohan      1215    02/03/2021  120006     Strawberry   1010         150           10         1500     2940
Rohan      1215    02/03/2021  120006     cherry       1012          90            7          630     3570
Rohan      1215    05/03/2021  120009     dates        1008         100           12         1200     4770
Rohan      1215    05/03/2021  120009     apple        1001          60           10          600     5370
Rohan      1215    05/03/2021  120009     mango        1004          50           10          500     5870
Rohan      1215    05/03/2021  120009     cherry       1012          90            8          720     6590

Total ::                                                                                     6590

In [7]:
date_wise_detail('27/02/2021')

Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

27/02/2021    120001   1210   Rajesh    apple       1001       60       3        180      180
27/02/2021    120001   1210   Rajesh    grapes      1005       45       4        180      360
27/02/2021    120002   1211   Rakesh    pears       1003       30       6        180      540
27/02/2021    120002   1211   Rakesh    mango       1004       50       8        400      940
27/02/2021    120002   1211   Rakesh    orange      1002       40       6        240     1180
27/02/2021    120003   1212   Sahil     pears       1003       30       2         60     1240
27/02/2021    120003   1212   Sahil     apple       1001       60       3        180     1420
27/02/2021    120003   1212   Sahil     orange      1002       40       4        160     1580
27/02/2021    120003   1212   Sahil     cherry      1012       90       5        450     2030
27/02/2021    120003   1212   Sahil     mango       1004       50       6        300     2330
27/02/2021    120003   1212   Sahil     apple       1001       60       7        420     2750

Total ::                                                                        2750