In [1]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

In [6]:
tr_un_bill

['120001',
 '120002',
 '120003',
 '120004',
 '120005',
 '120006',
 '120007',
 '120008',
 '120009',
 '120010',
 '120011']

In [54]:
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
s_amount = 0
x = 0

print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
print()

# for u in range(len(tr_item_un)):
#     i_name = tr_item_un[u]
#     a_sum = 0
#     q_sum = 0

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity

        if item == 'apple':
            if tr_cu_name == 'Sahil':
                s_amount = s_amount + amount
            # a_sum = a_sum + amount
            # q_sum = q_sum + quantity
            # t_item_code = item_code
            # t_item_name = item
            # t_item_rate = item_rate
            
#                 prn1 = item,tr_cu_name,s_amount
# print(prn1)

#     c_sum = c_sum + a_sum        
#     print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
# print()
# print("Total ::                                          {:>6}".format(c_sum))
# print()

  Item_name    Item_Code   Item_Rate   Quantity   T_Amount   C_Sum

('apple', 'Sahil', 600)

In [1]:


def item_cust(i_name,c_name):

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = ''

    # print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
    # print()

    # for u in range(len(tr_item_un)):
    #     i_name = tr_item_un[u]
    #     a_sum = 0
    #     q_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount
                # a_sum = a_sum + amount
                # q_sum = q_sum + quantity
                # t_item_code = item_code
                # t_item_name = item
                # t_item_rate = item_rate
                
                    prn2 = (s_amount)
    print(prn2,end = '  ')
    
                
    #     c_sum = c_sum + a_sum        
    #     print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    # print()
    # print("Total ::                                          {:>6}".format(c_sum))
    # print()

In [9]:
item_cust('apple','Sahil')

600

In [13]:
it_name = 'apple'
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust(it_name,z)

180    600    420  600  360  480

In [14]:
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
s_amount = 0
x = 0

print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
print()

for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    item_cust('apple',i_name)
    a_sum = 0
    q_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == 'apple':
                if tr_cu_name == :
                    s_amount = s_amount + amount
                # a_sum = a_sum + amount
                # q_sum = q_sum + quantity
                # t_item_code = item_code
                # t_item_name = item
                # t_item_rate = item_rate
                
                   # print(tr_cu_name,s_amount)
                
    #     c_sum = c_sum + a_sum        
    #     print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    # print()
    # print("Total ::                                          {:>6}".format(c_sum))
    # print()

SyntaxError: invalid syntax (<ipython-input-14-984eec72419e>, line 42)

In [35]:
item_cust('apple','Sahil')

  Item_name    Item_Code   Item_Rate   Quantity   T_Amount   C_Sum

apple Sahil 180
apple Sahil 600

In [41]:
i_name = tr_cu_un[2]
z = cu_name_id(i_name)

'Sahil'

In [4]:
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust('orange',z)

NameError: name 'item_cust' is not defined

In [55]:
item_cust('orange','Rakesh')

240
640

In [94]:
ls = ['apple','orange']
for j in range(len(ls)):
    it_name = ls[j]
    for i in range(len(tr_cu_un)):
        i_name = tr_cu_un[i]
        z = cu_name_id(i_name)
        print(z,end = ' ')
        item_cust(it_name,z)

Rajesh 180  Rakesh   Sahil 600  Jack   Steve 420  Rohan 600  Millan 360  mikul 480  Rajesh   Rakesh 640  Sahil 160  Jack 360  Steve   Rohan 520  Millan   mikul

In [95]:
a = 'orange'
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust(a,z)

  640  160  360    520

In [16]:
for j in range(4):
    for i in range(4):
        print("*",end = ' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [8]:
q = 'apple'
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust(q,z)

180    600    420  600  360  480

In [40]:
for j in range(len(tr_item_un)):
    j_name = tr_item_un[j]
    for i in range(len(tr_cu_un)):
       i_name =tr_cu_un[i]
       z = cu_name_id(i_name)
       item_cust(j_name,z)

180

600

420
600
360
480
180



135




180
60
240





400
300


1100

300

640
160
360

520




450


1350





300









320







1500



1500


1300
1200
800


100


100







220









100







2000

In [12]:


def item_cust(i_name,c_name):

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = ''

    # print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
    # print()

    # for u in range(len(tr_item_un)):
    #     i_name = tr_item_un[u]
    #     a_sum = 0
    #     q_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount
                # a_sum = a_sum + amount
                # q_sum = q_sum + quantity
                # t_item_code = item_code
                # t_item_name = item
                # t_item_rate = item_rate
                
                    prn2 = (c_name,s_amount)
    print(prn2,end = '  ')
                
    #     c_sum = c_sum + a_sum        
    #     print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    # print()
    # print("Total ::                                          {:>6}".format(c_sum))
    # print()

In [33]:
apple = [80,60,90,85,110,100,95,86]
orange = [65,100,65,96,60,52,54,57]
grapes = [65,56,85,58,80,60,45,40]
mango = [54,20,30,52,110,100,150,120]
print("{:>3}  {:>3}  {:>3}  {:>3}".format('apple','orange','grapes','mango'))
print()

    print("{:>3}    {:>3}     {:>3}      {:>3}".format(a,o,g,m))

apple  orange  grapes  mango

 80     57      40      120
 60     57      40      120
 90     57      40      120
 85     57      40      120
110     57      40      120
100     57      40      120
 95     57      40      120
 86     57      40      120

In [42]:
for j in range(4):
    for i in range(4):
        print("*",end = ' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
apple = [80,60,90,85,110,100,95,86]
orange = [65,100,65,96,60,52,54,57]
grapes = [65,56,85,58,80,60,45,40]
mango = [54,20,30,52,110,100,150,120]

In [36]:
fruits = [[80,60,90,85,110,100,95,86],[65,100,65,96,60,52,54,57],[65,56,85,58,80,60,45,40],[54,20,30,52,110,100,150,120]]
for i in range(len(fruits)):
    for j in range (len(fruits[i])):
      

print()

80 80 80 80 80 80 80 80 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 54 54 54 54 54 54 54 54

In [25]:
for i in range(7):
    for j in range(5):
        print('@',end = ' ')
    print()

@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @

In [52]:
fruits = [[80,60,90,85,110,100,95,86],[65,100,65,96,60,52,54,57],[65,56,85,58,80,60,45,40],[54,20,30,52,110,100,150,120]]

for i in range(len(fruits)):
    print(fruits[i][0],end = ' ')

80 65 65 54

In [ ]:
fruits = [[80,60,90,85,110,100,95,86],[65,100,65,96,60,52,54,57],[65,56,85,58,80,60,45,40],[54,20,30,52,110,100,150,120]]

for i in range(len(fruits)):
    print(fruits[i][0])

In [45]:
for i in range(len(fruits)):
    for j in range(len(fruits[i])):
        a = fruits[i][j][0]
        print(a)

TypeError: 'int' object is not subscriptable

In [48]:
for i in range(len(fruits)):

54