In [2]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





for i in range(len(tr)):
    print(i+1,tr[i])

1 (('1210', '120001'), ('apple', 3), ('grapes', 4))
2 (('1211', '120002'), ('pears', 6), ('mango', 8), ('orange', 6))
3 (('1212', '120003'), ('pears', 2), ('apple', 3), ('orange', 4), ('cherry', 5), ('mango', 6), ('apple', 7))
4 (('1213', '120004'), ('orange', 9), ('pears', 8), ('pineapple', 5))
5 (('1214', '120005'), ('grapes', 3), ('apple', 7))
6 (('1215', '120006'), ('mango', 12), ('orange', 13), ('guava', 8), ('Strawberry', 10), ('cherry', 7))
7 (('1211', '120007'), ('dates', 15), ('banana', 10), ('orange', 10))
8 (('1214', '120008'), ('dates', 13), ('banana', 10), ('Blackberry', 2))
9 (('1215', '120009'), ('dates', 12), ('apple', 10), ('mango', 10), ('cherry', 8))
10 (('1216', '120010'), ('apple', 6), ('dates', 8), ('jelly', 5), ('jackfruit', 50))
11 (('1217', '120011'), ('mango', 6), ('apple', 8))

In [2]:
tr = [(('1210','120001'),('apple',3),('grapes',4)),
      (('1211','120002'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005'),('grapes',3),('apple',7)),
      (('1215','120006'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011'),('mango',6),('apple',8))]


cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





for i in range(len(tr)):

    tra = tr[i]
    print(tra)

(('1210', '120001'), ('apple', 3), ('grapes', 4))
(('1211', '120002'), ('pears', 6), ('mango', 8), ('orange', 6))
(('1212', '120003'), ('pears', 2), ('apple', 3), ('orange', 4), ('cherry', 5), ('mango', 6), ('apple', 7))
(('1213', '120004'), ('orange', 9), ('pears', 8), ('pineapple', 5))
(('1214', '120005'), ('grapes', 3), ('apple', 7))
(('1215', '120006'), ('mango', 12), ('orange', 13), ('guava', 8), ('Strawberry', 10), ('cherry', 7))
(('1211', '120007'), ('dates', 15), ('banana', 10), ('orange', 10))
(('1214', '120008'), ('dates', 13), ('banana', 10), ('Blackberry', 2))
(('1215', '120009'), ('dates', 12), ('apple', 10), ('mango', 10), ('cherry', 8))
(('1216', '120010'), ('apple', 6), ('dates', 8), ('jelly', 5), ('jackfruit', 50))
(('1217', '120011'), ('mango', 6), ('apple', 8))

## Finding the tuple of bill no. '120006

In [20]:
bill = '120006'

for i in range(len(tr)):
    billno = tr[i][0][1]
    if bill == billno:
        print(i,'',tr[i])

5  (('1215', '120006'), ('mango', 12), ('orange', 13), ('guava', 8), ('Strawberry', 10), ('cherry', 7))

### Find out bill no of each content grapes.find the customer name and customer code ?

In [191]:

item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
i_name = 
amount = 0
a_sum = 0

print(" {}            {:<10}  {}  {}  {:<8} {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','amount','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        cu_id = tr[i][0][0]
        bill = tr[i][0][1]

        for k in range(len(cu)):
            if cu_id == cu[k][0]:
                cu_name = cu[k][1]

        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        
        amount = item_rate * quantity
        

        

        if i_name == item:
            a_sum = a_sum + amount
            print("{:<15}  {:<10}    {}      {}   {:<8} {:>3}   {:>5}".format(bill,item,item_code,cu_id,cu_name,amount,a_sum))
print()
print( "{}  {}   {:>34}".format('Total amount of',i_name,a_sum))

 bill            item        item_code  cu_id  cu_name  amount  a_sum

120001           grapes        1005      1210   Rajesh   180     180
120005           grapes        1005      1214   Steve    135     315

Total amount of  grapes                                  315

In [197]:

item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
i_bill = '120006'
amount = 0
a_sum = 0

print(" {}       {:<10}  {}  {}  {:<8} {}   {}   {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','Quantity','item_rate','amount','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        cu_id = tr[i][0][0]
        bill = tr[i][0][1]

        for k in range(len(cu)):
            if cu_id == cu[k][0]:
                cu_name = cu[k][1]

        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        
        amount = item_rate * quantity
        

        

        if i_bill == bill:
            a_sum = a_sum + amount
            c_name = cu_name
        
            print("{:<10}  {:<10}    {}      {}   {:<8} {:>3}          {:>3}     {:>5}   {:>5}".format(bill,item,item_code,c_id,cu_name,quantity,item_rate,amount,a_sum))
print()
print( "{}  {}                          {:>37}".format('Total amount of',c_name,a_sum))

 bill       item        item_code  cu_id  cu_name  Quantity   item_rate   amount  a_sum

120006      mango         1004      1211   Rohan     12           50       600     600
120006      orange        1002      1211   Rohan     13           40       520    1120
120006      guava         1006      1211   Rohan      8           40       320    1440
120006      Strawberry    1010      1211   Rohan     10          150      1500    2940
120006      cherry        1012      1211   Rohan      7           90       630    3570

Total amount of  Rohan                                                           3570

In [3]:

item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
i_bill = input('Enter bill no. :- ')
amount = 0
a_sum = 0
c_name = ''
c_id = ''

print("             {}    {}    {}     {}".format('Bill.No','cu_name','cu_id','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        cu_id = tr[i][0][0]
        bill = tr[i][0][1]

        for k in range(len(cu)):
            if cu_id == cu[k][0]:
                cu_name = cu[k][1]

        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        
        amount = item_rate * quantity
        

        

        if i_bill == bill:
            a_sum = a_sum + amount
            c_name = cu_name
            c_id = cu_id
            
print( "{:<10} {:<6}      {}    {:>5}  {:>8}".format('Billing of:-',i_bill,c_name,c_id,a_sum))

             Bill.No    cu_name    cu_id     a_sum

Billing of:- 120011      mikul     1217       780

In [4]:

item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
#i_bill = input('Enter bill no. :- ')
amount = 0
a_sum = 0
c_name = ''
c_id = ''

print("   {}     {}   {}   {}   {}".format('Bill.No','cu_name','cu_id','amount','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        cu_id = tr[i][0][0]
        bill = tr[i][0][1]

        for k in range(len(cu)):
            if cu_id == cu[k][0]:
                cu_name = cu[k][1]

        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        
        amount = item_rate * quantity
        a_sum = a_sum + amount

        

        
            
        print( "{:>9}      {:<6}    {:<5}   {:>5} {:>8}".format(bill,cu_name,cu_id,amount,a_sum))
print()
print("   Total ::                      {}".format(a_sum))

   Bill.No     cu_name   cu_id   amount   a_sum

   120001      Rajesh    1210      180      180
   120001      Rajesh    1210      180      360
   120002      Rakesh    1211      180      540
   120002      Rakesh    1211      400      940
   120002      Rakesh    1211      240     1180
   120003      Sahil     1212       60     1240
   120003      Sahil     1212      180     1420
   120003      Sahil     1212      160     1580
   120003      Sahil     1212      450     2030
   120003      Sahil     1212      300     2330
   120003      Sahil     1212      420     2750
   120004      Jack      1213      360     3110
   120004      Jack      1213      240     3350
   120004      Jack      1213      300     3650
   120005      Steve     1214      135     3785
   120005      Steve     1214      420     4205
   120006      Rohan     1215      600     4805
   120006      Rohan     1215      520     5325
   120006      Rohan     1215      320     5645
   120006      Rohan     1215     1500     7145
   120006      Rohan     1215      630     7775
   120007      Rakesh    1211     1500     9275
   120007      Rakesh    1211      100     9375
   120007      Rakesh    1211      400     9775
   120008      Steve     1214     1300    11075
   120008      Steve     1214      100    11175
   120008      Steve     1214      220    11395
   120009      Rohan     1215     1200    12595
   120009      Rohan     1215      600    13195
   120009      Rohan     1215      500    13695
   120009      Rohan     1215      720    14415
   120010      Millan    1216      360    14775
   120010      Millan    1216      800    15575
   120010      Millan    1216      100    15675
   120010      Millan    1216     2000    17675
   120011      mikul     1217      300    17975
   120011      mikul     1217      480    18455

   Total ::                      18455

In [26]:







cu_un = []
item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
#i_bill = input('Enter bill no. :- ')
amount = 0
a_sum = 0
c_name = ''
c_id = ''
u_id = ''
u_name = ''
u_amount = 0
for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_id = tr[i][0][0]

        
        if cu_id not in cu_un:
            cu_un.append(cu_id)
    #print(cu_un)

   # print("{}   {}   {}   {}".format('cu_id','cu_name','amount','a_sum'))
    #print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        cu_id = tr[i][0][0]
        bill = tr[i][0][1]

        for k in range(len(cu)):
            if cu_id == cu[k][0]:
                cu_name = cu[k][1]

        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity
        if cu_id == '1212':
            u_amount = u_amount + amount
print('1212',u_amount)
        #a_sum = a_sum + amount

        

for u in range(len(cu_un)):
        u_id = cu_un[u]
    #if cu_id == cu_un
            
        
            #print( "{:<5}    {:<6}   {:>5} {:>8}".format(u_id,u_name,amount,a_sum))
    # print()
    #print("Total ::          {}".format(a_sum))    
    #

1212 1570

In [2]:


def item_wise_bill(i_name):


    item = ''
    cu_id = ''
    quantity = 0
    bill = ''
    item_code = ''
    item_rate = ''
    cu_name = ''
    i_name = i_name
    amount = 0
    a_sum = 0

    print(" {}            {:<10}  {}  {}  {:<8} {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            

            if i_name == item:
                a_sum = a_sum + amount
                print("{:<15}  {:<10}    {}      {}   {:<8} {:>3}   {:>5}".format(bill,item,item_code,cu_id,cu_name,amount,a_sum))
    print()
    print( "{}  {}   {:>34}".format('Total amount of',i_name,a_sum))

In [50]:
item_wise_bill('grapes')

 bill            item        item_code  cu_id  cu_name  amount  a_sum

120001           grapes        1005      1210   Rajesh   180     180
120005           grapes        1005      1214   Steve    135     315

Total amount of  grapes                                  315

In [5]:

def bill_wise_item(i_bill):

    item = ''
    cu_id = ''
    quantity = 0
    bill = ''
    item_code = ''
    item_rate = ''
    cu_name = ''
    i_bill = i_bill
    amount = 0
    a_sum = 0

    print(" {}       {:<10}  {}  {}  {:<8} {}   {}   {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','Quantity','item_rate','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            

            

            if i_bill == bill:
                a_sum = a_sum + amount
                c_name = cu_name
            
                print("{:<10}  {:<10}    {}      {}   {:<8} {:>3}          {:>3}     {:>5}   {:>5}".format(bill,item,item_code,cu_id,cu_name,quantity,item_rate,amount,a_sum))
    print()
    print( "{}  {}                                                    {:>4}".format('Total amount of',c_name,a_sum))

In [102]:
bill_wise_item('120002')

 bill       item        item_code  cu_id  cu_name  Quantity   item_rate   amount  a_sum

120002      pears         1003      1211   Rakesh     6           30       180     180
120002      mango         1004      1211   Rakesh     8           50       400     580
120002      orange        1002      1211   Rakesh     6           40       240     820

Total amount of  Rakesh                                                     820

In [14]:




cu_un = []
item = ''
cu_id = ''
quantity = 0
bill = ''
item_code = ''
item_rate = ''
cu_name = ''
#i_bill = input('Enter bill no. :- ')
amount = 0
a_sum = 0
c_name = ''
c_id = ''
u_id = ''
u_name = ''
u_amount = 0
x = 0
c_sum = 0
for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_id = tr[i][0][0] 
        if cu_id not in cu_un:
            cu_un.append(cu_id)
print(cu_un)

for u in range(len(cu_un)):
    t_sum = 0
    x = 0
    cust_id = cu_un[u]

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            

            if cu_id ==cust_id:                         
                t_sum = t_sum + amoun
                x = x+1                # printx,cust_id,amount,,t_sum
    #print()
    c_sum = c_sum + t_sum            
    print(cust_id,t_sum,c_sum)
    #print()
    
)

SyntaxError: unmatched ')' (<ipython-input-14-588884973a90>, line 57)

In [95]:
bill_wise_item('120002')

 bill       item        item_code  cu_id  cu_name  Quantity   item_rate   amount  a_sum

120002      pears         1003      1211   Rakesh     6           30       180     180
120002      mango         1004      1211   Rakesh     8           50       400     580
120002      orange        1002      1211   Rakesh     6           40       240     820

Total amount of  Rakesh                                                     820

In [15]:
print(cu_un)

[]