In [28]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][j][0]
        tr_bill = tr[i][0][1]
    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)




item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
a_sum = 0
x = 0

print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity
        a_sum = a_sum + amount
        x = x+1




        
        print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
print()
print("Total ::                                                             {:>5}".format(a_sum))

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455

Total ::                                                             18455

In [29]:
tr_item_un

['grapes', 'orange', 'apple', 'pineapple', 'cherry', 'Blackberry', 'jackfruit']

In [50]:
cu_name_id('Sahil')

'1212'

In [65]:
item_name_code('mango')

'1004'

In [74]:
tr_cu_un

['1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217']

In [86]:
tr_item_un

['grapes', 'orange', 'apple', 'pineapple', 'cherry', 'Blackberry', 'jackfruit']

In [436]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]
cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][0][1]
        tr_bill = tr[i][0][1]

    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)

    tr_un_bill.append(tr_bill)


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0


print("{:<8} {} {:>6}".format('Cu_Name','Cu_ID','Amount_Sum'))
print()
for u in range(len(tr_cu_un)):
    cust_id = tr_cu_un[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            
            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
    
    c_sum = c_sum + a_sum
    print("{:<8} {}   {:>6}".format(t_name,cust_id,a_sum))
print()
print("Total ::        {:>6}".format(c_sum))

Cu_Name  Cu_ID Amount_Sum

Rajesh   1210      360
Rakesh   1211     2820
Sahil    1212     1570
Jack     1213      900
Steve    1214     2175
Rohan    1215     6590
Millan   1216     3260
mikul    1217      780

Total ::         18455

In [80]:
tr_un_bill

['120001',
 '120002',
 '120003',
 '120004',
 '120005',
 '120006',
 '120007',
 '120008',
 '120009',
 '120010',
 '120011']

In [434]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][0][1]
        tr_bill = tr[i][0][1]

    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)

    tr_un_bill.append(tr_bill)

def cust_wise_detail(cust_id):

    cust_id = cust_id
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    c_sum = 0
    x = 0

    print("{:<8}   {:<5}    {:<8}    {:<10} {:<10} {:>6}   {:>4}    {:>3}     {:>6}  {:>6}".format('Cu_Name','Cu_ID','Date','Bill','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            #a_sum = a_sum + amount
            #x = x+1

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id

                print("{:<8}   {:<5}   {:<8}  {:<10} {:<10} {:>6}        {:>4}          {:>3}       {:>6}   {:>6}".format(t_name,t_id,date,bill,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                                   {:>6}".format(a_sum))
    print()

In [306]:
cust_wise_detail('1217')

Cu_Name    Cu_ID    Date        Bill       Item       Item_code   Item_rate    Quantity     Amount   a_sum

mikul      1217    07/03/2021  120011     mango        1004          50            6          300      300
mikul      1217    07/03/2021  120011     apple        1001          60            8          480      780

Total ::                                                                                      780

In [312]:
def cust_wise_detail_all():
    for i in range(len(tr_cu_un)):
        cust_wise_detail(tr_cu_un[i])

In [208]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][0][1]
        tr_bill = tr[i][0][1]

    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)

    tr_un_bill.append(tr_bill)


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0


print("{}      {}     {:<8}  {}    {:<10} {} {:>4} {:>3}  {:>6}  {:>6}".format('Bill','Date','Cu_Name','Cu_ID','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
print()

for u in range(len(tr_un_bill)):
    c_bill = tr_un_bill[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            
            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
    
   
                print("{}  {}  {:<8} {}    {:<10}    {}     {:>4}    {:>3}      {:>6}   {:>6}".format(bill,date,t_name,t_id,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                     {:>6}".format(a_sum))
    print()

Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120001  27/02/2021  Rajesh   1210    apple         1001       60      3         180      180
120001  27/02/2021  Rajesh   1210    grapes        1005       45      4         180      360

Total ::                                                                        360

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120004  28/02/2021  Jack     1213    orange        1002       40      9         360      360
120004  28/02/2021  Jack     1213    pears         1003       30      8         240      600
120004  28/02/2021  Jack     1213    pineapple     1007       60      5         300      900

Total ::                                                                        900

120005  28/02/2021  Steve    1214    grapes        1005       45      3         135      135
120005  28/02/2021  Steve    1214    apple         1001       60      7         420      555

Total ::                                                                        555

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120007  03/03/2021  Rakesh   1211    dates         1008      100     15        1500     1500
120007  03/03/2021  Rakesh   1211    banana        1009       10     10         100     1600
120007  03/03/2021  Rakesh   1211    orange        1002       40     10         400     2000

Total ::                                                                       2000

120008  04/03/2021  Steve    1214    dates         1008      100     13        1300     1300
120008  04/03/2021  Steve    1214    banana        1009       10     10         100     1400
120008  04/03/2021  Steve    1214    Blackberry    1011      110      2         220     1620

Total ::                                                                       1620

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260

120011  05/03/2021  mikul    1217    mango         1004       50      6         300      300
120011  05/03/2021  mikul    1217    apple         1001       60      8         480      780

Total ::                                                                        780

In [6]:
cust_wise_summary()

Cu_Name    Date       Bill        Cu_ID   Amount_Sum    C_Sum

Rajesh   27/02/2021  120001       1210       360         360
Rakesh   03/03/2021  120007       1211      2820        3180
Sahil    27/02/2021  120003       1212      1570        4750
Jack     28/02/2021  120004       1213       900        5650
Steve    04/03/2021  120008       1214      2175        7825
Rohan    05/03/2021  120009       1215      6590       14415
Millan   05/03/2021  120010       1216      3260       17675
mikul    05/03/2021  120011       1217       780       18455

Total ::                                   18455

In [432]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][0][1]
        tr_bill = tr[i][0][1]

    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)

    tr_un_bill.append(tr_bill)


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0

print(" {:<8} {}  {:>6}".format('Bill','Cu_ID','Amount_Sum'))
print()

for u in range(len(tr_cu_un)):
    cust_id = tr_cu_un[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_bill = bill 
    c_sum = c_sum + a_sum
    print("{:<8}   {}   {:>6}".format(t_bill,cust_id,a_sum))
print()
print("Total ::          {:>6}".format(c_sum))

 Bill     Cu_ID  Amount_Sum

120001     1210      360
120007     1211     2820
120003     1212     1570
120004     1213      900
120008     1214     2175
120009     1215     6590
120010     1216     3260
120011     1217      780

Total ::           18455

In [446]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_id = tr[i][j][0]
        tr_bill = tr[i][0][1]

    if cu_un_id not in tr_cu_un:
        tr_cu_un.append(cu_un_id)
        

    if item_un_id not in tr_item_un:
        tr_item_un.append(item_un_id)

    tr_un_bill.append(tr_bill)


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0

print(" {:<8} {}  {:>6}".format('Bill','Cu_ID','Amount_Sum'))
print()

for u in range(len(tr_un_bill)):
    c_bill = tr_un_bill[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_bill = bill 
    c_sum = c_sum + a_sum
    print("{:<8}   {}   {:>6}".format(t_bill,t_id,a_sum))
print()
print("Total ::          {:>6}".format(c_sum))

 Bill     Cu_ID  Amount_Sum

120001     1210      360
120002     1211      820
120003     1212     1570
120004     1213      900
120005     1214      555
120006     1215     3570
120007     1211     2000
120008     1214     1620
120009     1215     3020
120010     1216     3260
120011     1217      780

Total ::           18455

In [409]:
tr_item_un

['grapes', 'orange', 'apple', 'pineapple', 'cherry', 'Blackberry', 'jackfruit']

In [8]:

def cust_wise_summary():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<8}   {:<8}   {:<10}  {:<6}  {:>6}   {:>6}".format('Cu_Name','Date','Bill','Cu_ID','Amount_Sum','C_Sum'))
    print()

    for u in range(len(tr_cu_un)):
        cust_id = tr_cu_un[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if tr_cu_id == cust_id:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
        c_sum = c_sum + a_sum
        print("{:<8} {:<8}  {:<10}   {:<6}  {:>6}      {:>6}".format(t_name,t_date,t_bill,t_id,a_sum,c_sum))
    print()
    print("Total ::                                  {:>6}".format(c_sum))

In [9]:
cust_wise_summary()

Cu_Name    Date       Bill        Cu_ID   Amount_Sum    C_Sum

Rajesh   27/02/2021  120001       1210       360         360
Rakesh   03/03/2021  120007       1211      2820        3180
Sahil    27/02/2021  120003       1212      1570        4750
Jack     28/02/2021  120004       1213       900        5650
Steve    04/03/2021  120008       1214      2175        7825
Rohan    05/03/2021  120009       1215      6590       14415
Millan   05/03/2021  120010       1216      3260       17675
mikul    05/03/2021  120011       1217       780       18455

Total ::                                   18455

In [228]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]

tr_cu_un = []

tr_item_un = []

tr_un_bill = []



def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        tr_item_name = tr[i][j][0]
        tr_bill = tr[i][0][1]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
        

        if tr_item_name not in tr_item_un:
            tr_item_un.append(tr_item_name)

        tr_un_bill.append(tr_bill)


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0


print("{}      {}     {:<8}  {}    {:<10} {} {:>4} {:>3}  {:>6}  {:>6}".format('Bill','Date','Cu_Name','Cu_ID','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
print()

for u in range(len(tr_un_bill)):
    c_bill = tr_un_bill[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            
            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
    
   
                print("{}  {}  {:<8} {}    {:<10}    {}     {:>4}    {:>3}      {:>6}   {:>6}".format(bill,date,t_name,t_id,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                     {:>6}".format(a_sum))
    print()

Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120001  27/02/2021  Rajesh   1210    apple         1001       60      3         180      180
120001  27/02/2021  Rajesh   1210    grapes        1005       45      4         180      360

Total ::                                                                        360

120001  27/02/2021  Rajesh   1210    apple         1001       60      3         180      180
120001  27/02/2021  Rajesh   1210    grapes        1005       45      4         180      360

Total ::                                                                        360

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570

120004  28/02/2021  Jack     1213    orange        1002       40      9         360      360
120004  28/02/2021  Jack     1213    pears         1003       30      8         240      600
120004  28/02/2021  Jack     1213    pineapple     1007       60      5         300      900

Total ::                                                                        900

120004  28/02/2021  Jack     1213    orange        1002       40      9         360      360
120004  28/02/2021  Jack     1213    pears         1003       30      8         240      600
120004  28/02/2021  Jack     1213    pineapple     1007       60      5         300      900

Total ::                                                                        900

120004  28/02/2021  Jack     1213    orange        1002       40      9         360      360
120004  28/02/2021  Jack     1213    pears         1003       30      8         240      600
120004  28/02/2021  Jack     1213    pineapple     1007       60      5         300      900

Total ::                                                                        900

120005  28/02/2021  Steve    1214    grapes        1005       45      3         135      135
120005  28/02/2021  Steve    1214    apple         1001       60      7         420      555

Total ::                                                                        555

120005  28/02/2021  Steve    1214    grapes        1005       45      3         135      135
120005  28/02/2021  Steve    1214    apple         1001       60      7         420      555

Total ::                                                                        555

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570

120007  03/03/2021  Rakesh   1211    dates         1008      100     15        1500     1500
120007  03/03/2021  Rakesh   1211    banana        1009       10     10         100     1600
120007  03/03/2021  Rakesh   1211    orange        1002       40     10         400     2000

Total ::                                                                       2000

120007  03/03/2021  Rakesh   1211    dates         1008      100     15        1500     1500
120007  03/03/2021  Rakesh   1211    banana        1009       10     10         100     1600
120007  03/03/2021  Rakesh   1211    orange        1002       40     10         400     2000

Total ::                                                                       2000

120007  03/03/2021  Rakesh   1211    dates         1008      100     15        1500     1500
120007  03/03/2021  Rakesh   1211    banana        1009       10     10         100     1600
120007  03/03/2021  Rakesh   1211    orange        1002       40     10         400     2000

Total ::                                                                       2000

120008  04/03/2021  Steve    1214    dates         1008      100     13        1300     1300
120008  04/03/2021  Steve    1214    banana        1009       10     10         100     1400
120008  04/03/2021  Steve    1214    Blackberry    1011      110      2         220     1620

Total ::                                                                       1620

120008  04/03/2021  Steve    1214    dates         1008      100     13        1300     1300
120008  04/03/2021  Steve    1214    banana        1009       10     10         100     1400
120008  04/03/2021  Steve    1214    Blackberry    1011      110      2         220     1620

Total ::                                                                       1620

120008  04/03/2021  Steve    1214    dates         1008      100     13        1300     1300
120008  04/03/2021  Steve    1214    banana        1009       10     10         100     1400
120008  04/03/2021  Steve    1214    Blackberry    1011      110      2         220     1620

Total ::                                                                       1620

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260

120011  05/03/2021  mikul    1217    mango         1004       50      6         300      300
120011  05/03/2021  mikul    1217    apple         1001       60      8         480      780

Total ::                                                                        780

120011  05/03/2021  mikul    1217    mango         1004       50      6         300      300
120011  05/03/2021  mikul    1217    apple         1001       60      8         480      780

Total ::                                                                        780

In [229]:
tr_item_un

['apple',
 'grapes',
 'pears',
 'mango',
 'orange',
 'cherry',
 'pineapple',
 'guava',
 'Strawberry',
 'dates',
 'banana',
 'Blackberry',
 'jelly',
 'jackfruit']

In [230]:
tr_cu_un

['1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217']

In [14]:


cust_id = '1214'
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0

print("{:<8}   {:<8}   {:<10}  {:<6}  {:>6}   {:>6}".format('Cu_Name','Date','Bill','Cu_ID','Amount_Sum','C_Sum'))
print()

# for u in range(len(tr_cu_un)):
#     cust_id = tr_cu_un[u]
#     a_sum = 0

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity

        if tr_cu_id == cust_id:
            a_sum = a_sum + amount
            t_name = tr_cu_name
            t_id = tr_cu_id
            t_bill = bill 
            t_date = date
            t_name = tr_cu_name
c_sum = c_sum + a_sum
print("{:<8} {:<8}  {:<10}   {:<6}  {:>6}      {:>6}".format(t_name,t_date,t_bill,t_id,a_sum,c_sum))
print()
print("Total ::                                  {:>6}".format(c_sum))

Cu_Name    Date       Bill        Cu_ID   Amount_Sum    C_Sum

Steve    04/03/2021  120008       1214      6135        6135

Total ::                                    6135

In [337]:


i_code = '1005'
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0

print("{:<10}   {:<6}  {:<8}   {:<8}   {:<7} {:<5} {:>6}   {:>6}".format('Item_Name','Item_Code','Cu_Name','Cu_date','Bill','Cu_ID','a_sum','c_sum'))
print()

for u in range(len(tr_cu_un)):
    cust_id = tr_cu_un[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item_code == i_code:
                a_sum = a_sum + amount
                t_cu_name = tr_cu_name
                t_cu_id = tr_cu_id
                t_bill = bill 
                t_date = date
                t_name = tr_cu_name
                t_item_code = i_code
                t_item_name = item
    c_sum = c_sum + a_sum
    print("{:<10}   {:<6}     {:<8} {:<8}  {:<7}  {:<5} {:>6}   {:>6}".format(t_item_name,t_item_code,t_cu_name,t_date,t_bill,t_cu_id,a_sum,c_sum))
print()
print("Total ::                                                    {:>6}".format(c_sum))

Item_Name    Item_Code  Cu_Name    Cu_date    Bill    Cu_ID  a_sum    c_sum

grapes       1005       Steve    01/03/2021  120005   1214     315      315
grapes       1005       Steve    01/03/2021  120005   1214     315      630
grapes       1005       Steve    01/03/2021  120005   1214     315      945
grapes       1005       Steve    01/03/2021  120005   1214     315     1260
grapes       1005       Steve    01/03/2021  120005   1214     315     1575
grapes       1005       Steve    01/03/2021  120005   1214     315     1890
grapes       1005       Steve    01/03/2021  120005   1214     315     2205
grapes       1005       Steve    01/03/2021  120005   1214     315     2520

Total ::                                                      2520

In [275]:


 def item_wise_detail(i_name):

    i_name = i_name
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    a_sum = 0
    x = 0

    print("{:<10}   {:<6}     {:<8} {:<8}   {:<7}   {:<5}     {:<6}   {:<4}".format('Item_Name','Item_Code','Cu_ID','Cu_Name','Bill','Date','Amount','a_sum'))
    print()

    
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            

            if item == i_name:
                a_sum = a_sum + amount
                t_cu_name = tr_cu_name
                t_cu_id = tr_cu_id
                t_bill = bill 
                t_date = date
                t_name = tr_cu_name
                t_item_code = item_code
                t_item_name = item
                print("{:<10}     {:<6}      {:<8} {:<8}  {:<7}  {:<10}  {:>5}  {:>6}".format(t_item_name,t_item_code,tr_cu_id,tr_cu_name,t_bill,t_date,amount,a_sum))
    print()
    print("Total ::                                                          {:>6}".format(a_sum))

In [276]:
 item_wise_detail('apple')

Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

apple          1001        1210     Rajesh    120001   27/02/2021    180     180
apple          1001        1212     Sahil     120003   27/02/2021    180     360
apple          1001        1212     Sahil     120003   27/02/2021    420     780
apple          1001        1214     Steve     120005   28/02/2021    420    1200
apple          1001        1215     Rohan     120009   05/03/2021    600    1800
apple          1001        1216     Millan    120010   05/03/2021    360    2160
apple          1001        1217     mikul     120011   05/03/2021    480    2640

Total ::                                                            2640

In [281]:
item_wise_summary()

Item_Name      Item_Code    Item_Rate     Quantity     a_sum   c_sum

apple          1001           60             8         2640     2640
grapes         1005           45             3          315     2955
pears          1003           30             8          480     3435
mango          1004           50             6         2100     5535
orange         1002           40            10         1680     7215
cherry         1012           90             8         1800     9015
pineapple      1007           60             5          300     9315
guava          1006           40             8          320     9635
Strawberry     1010          150            10         1500    11135
dates          1008          100             8         4800    15935
banana         1009           10            10          200    16135
Blackberry     1011          110             2          220    16355
jelly          1013           20             5          100    16455
jackfruit      1014           40            50         2000    18455

Total ::                                              18455

In [325]:
def item_wise_detail_all():
    for i in range(len(tr_item_un)):
        item_wise_detail(tr_item_un[i])
        print()
        print()

In [326]:
item_wise_detail_all()

  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      360
  3  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      780
  4  28/02/2021   120005    apple      1001       1214    Steve        60      7    420     1200
  5  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600     1800
  6  05/03/2021   120010    apple      1001       1216    Millan       60      6    360     2160
  7  05/03/2021   120011    apple      1001       1217    mikul        60      8    480     2640

Total ::                                                                           2640


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    grapes     1005       1210    Rajesh       45      4    180      180
  2  28/02/2021   120005    grapes     1005       1214    Steve        45      3    135      315

Total ::                                                                            315


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    pears      1003       1211    Rakesh       30      6    180      180
  2  27/02/2021   120003    pears      1003       1212    Sahil        30      2     60      240
  3  28/02/2021   120004    pears      1003       1213    Jack         30      8    240      480

Total ::                                                                            480


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    mango      1004       1211    Rakesh       50      8    400      400
  2  27/02/2021   120003    mango      1004       1212    Sahil        50      6    300      700
  3  02/03/2021   120006    mango      1004       1215    Rohan        50     12    600     1300
  4  05/03/2021   120009    mango      1004       1215    Rohan        50     10    500     1800
  5  05/03/2021   120011    mango      1004       1217    mikul        50      6    300     2100

Total ::                                                                           2100


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    orange     1002       1211    Rakesh       40      6    240      240
  2  27/02/2021   120003    orange     1002       1212    Sahil        40      4    160      400
  3  28/02/2021   120004    orange     1002       1213    Jack         40      9    360      760
  4  02/03/2021   120006    orange     1002       1215    Rohan        40     13    520     1280
  5  03/03/2021   120007    orange     1002       1211    Rakesh       40     10    400     1680

Total ::                                                                           1680


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    cherry     1012       1212    Sahil        90      5    450      450
  2  02/03/2021   120006    cherry     1012       1215    Rohan        90      7    630     1080
  3  05/03/2021   120009    cherry     1012       1215    Rohan        90      8    720     1800

Total ::                                                                           1800


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120004    pineapple  1007       1213    Jack         60      5    300      300

Total ::                                                                            300


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    guava      1006       1215    Rohan        40      8    320      320

Total ::                                                                            320


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    Strawberry 1010       1215    Rohan       150     10   1500     1500

Total ::                                                                           1500


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  03/03/2021   120007    dates      1008       1211    Rakesh      100     15   1500     1500
  2  04/03/2021   120008    dates      1008       1214    Steve       100     13   1300     2800
  3  05/03/2021   120009    dates      1008       1215    Rohan       100     12   1200     4000
  4  05/03/2021   120010    dates      1008       1216    Millan      100      8    800     4800

Total ::                                                                           4800


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  03/03/2021   120007    banana     1009       1211    Rakesh       10     10    100      100
  2  04/03/2021   120008    banana     1009       1214    Steve        10     10    100      200

Total ::                                                                            200


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  04/03/2021   120008    Blackberry 1011       1214    Steve       110      2    220      220

Total ::                                                                            220


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jelly      1013       1216    Millan       20      5    100      100

Total ::                                                                            100


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jackfruit  1014       1216    Millan       40     50   2000     2000

Total ::                                                                           2000

In [21]:


def item_wise_summary():

    
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<10}   {:<6}     {:<8} {:<8}   {:<7}   {:<5}     {:<6}   {:<4}".format('Item_Name','Item_Code','Cu_ID','Cu_Name','Bill','Date','Amount','a_sum'))
    print()

    for u in range(len(tr_item_un)):
        i_name = tr_item_un[u]
        a_sum = 0
    
        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if item == i_name:
                    a_sum = a_sum + amount
                    t_cu_name = tr_cu_name
                    t_cu_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
                    t_item_code = i_code
                    t_item_name = item
        print("{:<10}     {:<6}      {:<8} {:<8}  {:<7}  {:<10}  {:>5}  {:>6}".format(t_item_name,t_item_code,tr_cu_id,tr_cu_name,t_bill,t_date,amount,a_sum))
        print()
        print("Total ::                                                          {:>6}".format(a_sum))

In [445]:


item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
x = 0

print("{:<8}   {:<8}   {:<10}  {:<6}  {:>6}   {:>6}".format('Cu_Name','Date','Bill','Cu_ID','Amount_Sum','C_Sum'))
print()

for u in range(len(tr_cu_un)):
    cust_id = tr_cu_un[u]
    a_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_bill = bill 
                t_date = date
                t_name = tr_cu_name
    c_sum = c_sum + a_sum
    print("{:<8} {:<8}  {:<10}   {:<6}  {:>6}      {:>6}".format(t_name,t_date,t_bill,t_id,a_sum,c_sum))
print()
print("Total ::                                  {:>6}".format(c_sum))

Cu_Name    Date       Bill        Cu_ID   Amount_Sum    C_Sum

Rajesh   27/02/2021  120001       1210       360         360
Rakesh   03/03/2021  120007       1211      2820        3180
Sahil    27/02/2021  120003       1212      1570        4750
Jack     28/02/2021  120004       1213       900        5650
Steve    04/03/2021  120008       1214      2175        7825
Rohan    05/03/2021  120009       1215      6590       14415
Millan   05/03/2021  120010       1216      3260       17675
mikul    05/03/2021  120011       1217       780       18455

Total ::                                   18455

In [273]:


def item_wise_summary():


    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<10}     {:<6}    {:>3}     {:>3}    {:>6}  {:>6}".format('Item_Name','Item_Code','Item_Rate','Quantity','a_sum','c_sum'))
    print()

    for u in range(len(tr_item_un)):
        i_name = tr_item_un[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if item == i_name:
                    a_sum = a_sum + amount
                    t_item_code = item_code
                    t_item_name = item
                    t_item_rate = item_rate
                    t_item_quantity = quantity
        c_sum = c_sum + a_sum            
        print("{:<10}     {:<6}        {:>3}           {:>3}       {:>6}   {:>6}".format(t_item_name,t_item_code,t_item_rate,t_item_quantity,a_sum,c_sum))
    print()
    print("Total ::                                             {:>6}".format(c_sum))
    print()

In [274]:
item_wise_summary()

Item_Name      Item_Code    Item_Rate     Quantity     a_sum   c_sum

apple          1001           60             8         2640     2640
grapes         1005           45             3          315     2955
pears          1003           30             8          480     3435
mango          1004           50             6         2100     5535
orange         1002           40            10         1680     7215
cherry         1012           90             8         1800     9015
pineapple      1007           60             5          300     9315
guava          1006           40             8          320     9635
Strawberry     1010          150            10         1500    11135
dates          1008          100             8         4800    15935
banana         1009           10            10          200    16135
Blackberry     1011          110             2          220    16355
jelly          1013           20             5          100    16455
jackfruit      1014           40            50         2000    18455

Total ::                                              18455

In [204]:
item_wise_detail_all()

Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

grapes         1005        1210     Rajesh    120001   27/02/2021    180     180
grapes         1005        1214     Steve     120005   28/02/2021    135     315

Total ::                                                             315


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

orange         1002        1211     Rakesh    120002   27/02/2021    240     240
orange         1002        1212     Sahil     120003   27/02/2021    160     400
orange         1002        1213     Jack      120004   28/02/2021    360     760
orange         1002        1215     Rohan     120006   02/03/2021    520    1280
orange         1002        1211     Rakesh    120007   03/03/2021    400    1680

Total ::                                                            1680


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

apple          1001        1210     Rajesh    120001   27/02/2021    180     180
apple          1001        1212     Sahil     120003   27/02/2021    180     360
apple          1001        1212     Sahil     120003   27/02/2021    420     780
apple          1001        1214     Steve     120005   28/02/2021    420    1200
apple          1001        1215     Rohan     120009   05/03/2021    600    1800
apple          1001        1216     Millan    120010   05/03/2021    360    2160
apple          1001        1217     mikul     120011   05/03/2021    480    2640

Total ::                                                            2640


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

pineapple      1007        1213     Jack      120004   28/02/2021    300     300

Total ::                                                             300


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

cherry         1012        1212     Sahil     120003   27/02/2021    450     450
cherry         1012        1215     Rohan     120006   02/03/2021    630    1080
cherry         1012        1215     Rohan     120009   05/03/2021    720    1800

Total ::                                                            1800


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

Blackberry     1011        1214     Steve     120008   04/03/2021    220     220

Total ::                                                             220


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

jackfruit      1014        1216     Millan    120010   05/03/2021   2000    2000

Total ::                                                            2000

In [323]:


def item_wise_summary():


    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<10}     {:<6}        {:>6}".format('Item_Name','Item_Code','Amount'))
    print()

    for u in range(len(tr_item_un)):
        i_name = tr_item_un[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if item == i_name:
                    a_sum = a_sum + amount
                    t_item_code = item_code
                    t_item_name = item

        c_sum = c_sum + a_sum            
        print("{:<10}       {:<6}        {:>6}".format(t_item_name,t_item_code,a_sum))
    print()
    print("Total ::                       {:>6}".format(c_sum))
    print()

In [324]:
item_wise_summary()

Item_Name      Item_Code        Amount

apple            1001            2640
grapes           1005             315
pears            1003             480
mango            1004            2100
orange           1002            1680
cherry           1012            1800
pineapple        1007             300
guava            1006             320
Strawberry       1010            1500
dates            1008            4800
banana           1009             200
Blackberry       1011             220
jelly            1013             100
jackfruit        1014            2000

Total ::                        18455

In [115]:
tr_item_un

['grapes', 'orange', 'apple', 'pineapple', 'cherry', 'Blackberry', 'jackfruit']

In [102]:
item_wise_detail_all()

Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

grapes         1005        1210     Rajesh    120001   27/02/2021    180     180
grapes         1005        1214     Steve     120005   28/02/2021    135     315

Total ::                                                             315


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

orange         1002        1211     Rakesh    120002   27/02/2021    240     240
orange         1002        1212     Sahil     120003   27/02/2021    160     400
orange         1002        1213     Jack      120004   28/02/2021    360     760
orange         1002        1215     Rohan     120006   02/03/2021    520    1280
orange         1002        1211     Rakesh    120007   03/03/2021    400    1680

Total ::                                                            1680


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

apple          1001        1210     Rajesh    120001   27/02/2021    180     180
apple          1001        1212     Sahil     120003   27/02/2021    180     360
apple          1001        1212     Sahil     120003   27/02/2021    420     780
apple          1001        1214     Steve     120005   28/02/2021    420    1200
apple          1001        1215     Rohan     120009   05/03/2021    600    1800
apple          1001        1216     Millan    120010   05/03/2021    360    2160
apple          1001        1217     mikul     120011   05/03/2021    480    2640

Total ::                                                            2640


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

pineapple      1007        1213     Jack      120004   28/02/2021    300     300

Total ::                                                             300


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

cherry         1012        1212     Sahil     120003   27/02/2021    450     450
cherry         1012        1215     Rohan     120006   02/03/2021    630    1080
cherry         1012        1215     Rohan     120009   05/03/2021    720    1800

Total ::                                                            1800


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

Blackberry     1011        1214     Steve     120008   04/03/2021    220     220

Total ::                                                             220


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

jackfruit      1014        1216     Millan    120010   05/03/2021   2000    2000

Total ::                                                            2000

In [103]:
cust_wise_summary()

Cu_Name    Date       Bill        Cu_ID   Amount_Sum    C_Sum

Rajesh   27/02/2021  120001       1210       360         360
Rakesh   03/03/2021  120007       1211      2820        3180
Sahil    27/02/2021  120003       1212      1570        4750
Jack     28/02/2021  120004       1213       900        5650
Steve    04/03/2021  120008       1214      2175        7825
Rohan    05/03/2021  120009       1215      6590       14415
Millan   05/03/2021  120010       1216      3260       17675
mikul    05/03/2021  120011       1217       780       18455

Total ::                                   18455

In [189]:


def main_tr_db():


    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{:>3}   {:<10}   {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6}   {:>6}".format('x','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount   
            x = x+1  
                
            print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,item_code,tr_cu_id,\
                tr_cu_name,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                         {:>6}".format(a_sum))

In [190]:
main_tr_db()

  x   date         bill      item     item_code   cu_id   cu_name   item_rate  qty  amount    a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180
  2  27/02/2021   120001    grapes     1005       1210    Rajesh       45      4    180      360
  3  27/02/2021   120002    pears      1003       1211    Rakesh       30      6    180      540
  4  27/02/2021   120002    mango      1004       1211    Rakesh       50      8    400      940
  5  27/02/2021   120002    orange     1002       1211    Rakesh       40      6    240     1180
  6  27/02/2021   120003    pears      1003       1212    Sahil        30      2     60     1240
  7  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180     1420
  8  27/02/2021   120003    orange     1002       1212    Sahil        40      4    160     1580
  9  27/02/2021   120003    cherry     1012       1212    Sahil        90      5    450     2030
 10  27/02/2021   120003    mango      1004       1212    Sahil        50      6    300     2330
 11  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420     2750
 12  28/02/2021   120004    orange     1002       1213    Jack         40      9    360     3110
 13  28/02/2021   120004    pears      1003       1213    Jack         30      8    240     3350
 14  28/02/2021   120004    pineapple  1007       1213    Jack         60      5    300     3650
 15  28/02/2021   120005    grapes     1005       1214    Steve        45      3    135     3785
 16  28/02/2021   120005    apple      1001       1214    Steve        60      7    420     4205
 17  02/03/2021   120006    mango      1004       1215    Rohan        50     12    600     4805
 18  02/03/2021   120006    orange     1002       1215    Rohan        40     13    520     5325
 19  02/03/2021   120006    guava      1006       1215    Rohan        40      8    320     5645
 20  02/03/2021   120006    Strawberry 1010       1215    Rohan       150     10   1500     7145
 21  02/03/2021   120006    cherry     1012       1215    Rohan        90      7    630     7775
 22  03/03/2021   120007    dates      1008       1211    Rakesh      100     15   1500     9275
 23  03/03/2021   120007    banana     1009       1211    Rakesh       10     10    100     9375
 24  03/03/2021   120007    orange     1002       1211    Rakesh       40     10    400     9775
 25  04/03/2021   120008    dates      1008       1214    Steve       100     13   1300    11075
 26  04/03/2021   120008    banana     1009       1214    Steve        10     10    100    11175
 27  04/03/2021   120008    Blackberry 1011       1214    Steve       110      2    220    11395
 28  05/03/2021   120009    dates      1008       1215    Rohan       100     12   1200    12595
 29  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600    13195
 30  05/03/2021   120009    mango      1004       1215    Rohan        50     10    500    13695
 31  05/03/2021   120009    cherry     1012       1215    Rohan        90      8    720    14415
 32  05/03/2021   120010    apple      1001       1216    Millan       60      6    360    14775
 33  05/03/2021   120010    dates      1008       1216    Millan      100      8    800    15575
 34  05/03/2021   120010    jelly      1013       1216    Millan       20      5    100    15675
 35  05/03/2021   120010    jackfruit  1014       1216    Millan       40     50   2000    17675
 36  05/03/2021   120011    mango      1004       1217    mikul        50      6    300    17975
 37  05/03/2021   120011    apple      1001       1217    mikul        60      8    480    18455

Total ::                                                                          18455

In [307]:




def item_wise_detail(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0
    
    print("{:>3}     {:<10} {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6} {:>6}".format('x','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity


            if item == i_name:
                a_sum = a_sum + amount
                x = x+1

                print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,\
                    item_code,tr_cu_id,tr_cu_name,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                         {:>6}".format(a_sum))

In [308]:
item_wise_detail('apple')

  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      360
  3  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      780
  4  28/02/2021   120005    apple      1001       1214    Steve        60      7    420     1200
  5  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600     1800
  6  05/03/2021   120010    apple      1001       1216    Millan       60      6    360     2160
  7  05/03/2021   120011    apple      1001       1217    mikul        60      8    480     2640

Total ::                                                                           2640

In [284]:
item_wise_detail('apple')

Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

apple          1001        1210     Rajesh    120001   27/02/2021    180     180
apple          1001        1212     Sahil     120003   27/02/2021    180     360
apple          1001        1212     Sahil     120003   27/02/2021    420     780
apple          1001        1214     Steve     120005   28/02/2021    420    1200
apple          1001        1215     Rohan     120009   05/03/2021    600    1800
apple          1001        1216     Millan    120010   05/03/2021    360    2160
apple          1001        1217     mikul     120011   05/03/2021    480    2640

Total ::                                                            2640

In [285]:
item_wise_detail_all()

Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

apple          1001        1210     Rajesh    120001   27/02/2021    180     180
apple          1001        1212     Sahil     120003   27/02/2021    180     360
apple          1001        1212     Sahil     120003   27/02/2021    420     780
apple          1001        1214     Steve     120005   28/02/2021    420    1200
apple          1001        1215     Rohan     120009   05/03/2021    600    1800
apple          1001        1216     Millan    120010   05/03/2021    360    2160
apple          1001        1217     mikul     120011   05/03/2021    480    2640

Total ::                                                            2640


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

grapes         1005        1210     Rajesh    120001   27/02/2021    180     180
grapes         1005        1214     Steve     120005   28/02/2021    135     315

Total ::                                                             315


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

pears          1003        1211     Rakesh    120002   27/02/2021    180     180
pears          1003        1212     Sahil     120003   27/02/2021     60     240
pears          1003        1213     Jack      120004   28/02/2021    240     480

Total ::                                                             480


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

mango          1004        1211     Rakesh    120002   27/02/2021    400     400
mango          1004        1212     Sahil     120003   27/02/2021    300     700
mango          1004        1215     Rohan     120006   02/03/2021    600    1300
mango          1004        1215     Rohan     120009   05/03/2021    500    1800
mango          1004        1217     mikul     120011   05/03/2021    300    2100

Total ::                                                            2100


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

orange         1002        1211     Rakesh    120002   27/02/2021    240     240
orange         1002        1212     Sahil     120003   27/02/2021    160     400
orange         1002        1213     Jack      120004   28/02/2021    360     760
orange         1002        1215     Rohan     120006   02/03/2021    520    1280
orange         1002        1211     Rakesh    120007   03/03/2021    400    1680

Total ::                                                            1680


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

cherry         1012        1212     Sahil     120003   27/02/2021    450     450
cherry         1012        1215     Rohan     120006   02/03/2021    630    1080
cherry         1012        1215     Rohan     120009   05/03/2021    720    1800

Total ::                                                            1800


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

pineapple      1007        1213     Jack      120004   28/02/2021    300     300

Total ::                                                             300


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

guava          1006        1215     Rohan     120006   02/03/2021    320     320

Total ::                                                             320


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

Strawberry     1010        1215     Rohan     120006   02/03/2021   1500    1500

Total ::                                                            1500


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

dates          1008        1211     Rakesh    120007   03/03/2021   1500    1500
dates          1008        1214     Steve     120008   04/03/2021   1300    2800
dates          1008        1215     Rohan     120009   05/03/2021   1200    4000
dates          1008        1216     Millan    120010   05/03/2021    800    4800

Total ::                                                            4800


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

banana         1009        1211     Rakesh    120007   03/03/2021    100     100
banana         1009        1214     Steve     120008   04/03/2021    100     200

Total ::                                                             200


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

Blackberry     1011        1214     Steve     120008   04/03/2021    220     220

Total ::                                                             220


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

jelly          1013        1216     Millan    120010   05/03/2021    100     100

Total ::                                                             100


Item_Name    Item_Code     Cu_ID    Cu_Name    Bill      Date      Amount   a_sum

jackfruit      1014        1216     Millan    120010   05/03/2021   2000    2000

Total ::                                                            2000

In [286]:
item_wise_summary()

Item_Name      Item_Code    Item_Rate     Quantity     a_sum   c_sum

apple          1001           60             8         2640     2640
grapes         1005           45             3          315     2955
pears          1003           30             8          480     3435
mango          1004           50             6         2100     5535
orange         1002           40            10         1680     7215
cherry         1012           90             8         1800     9015
pineapple      1007           60             5          300     9315
guava          1006           40             8          320     9635
Strawberry     1010          150            10         1500    11135
dates          1008          100             8         4800    15935
banana         1009           10            10          200    16135
Blackberry     1011          110             2          220    16355
jelly          1013           20             5          100    16455
jackfruit      1014           40            50         2000    18455

Total ::                                              18455

In [298]:
def item_wise_amount(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
        
            

            if item == i_name:
                a_sum = a_sum + amount
                t_item_name = i_name
                t_item_code = item_code
                t_item_rate = item_rate
                t_item_quantity = quantity
                        
    print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}".format(t_item_name,t_item_code,t_item_rate,t_item_quantity,a_sum))
    print()

In [300]:
item_wise_amount('apple')

  Item_name    Item_Code   Item_Rate   Quantity   T_Amount

  apple          1001         60          8         2640

In [309]:
item_wise_detail('apple')

  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      360
  3  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      780
  4  28/02/2021   120005    apple      1001       1214    Steve        60      7    420     1200
  5  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600     1800
  6  05/03/2021   120010    apple      1001       1216    Millan       60      6    360     2160
  7  05/03/2021   120011    apple      1001       1217    mikul        60      8    480     2640

Total ::                                                                           2640

In [329]:
item_wise_summary()

Item_Name      Item_Code        Amount

apple            1001            2640
grapes           1005             315
pears            1003             480
mango            1004            2100
orange           1002            1680
cherry           1012            1800
pineapple        1007             300
guava            1006             320
Strawberry       1010            1500
dates            1008            4800
banana           1009             200
Blackberry       1011             220
jelly            1013             100
jackfruit        1014            2000

Total ::                        18455

In [327]:
def item_wise_detail_all():
    for i in range(len(tr_item_un)):
        item_wise_detail(tr_item_un[i])
        print()
        print()

In [328]:
item_wise_detail_all()

  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      360
  3  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      780
  4  28/02/2021   120005    apple      1001       1214    Steve        60      7    420     1200
  5  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600     1800
  6  05/03/2021   120010    apple      1001       1216    Millan       60      6    360     2160
  7  05/03/2021   120011    apple      1001       1217    mikul        60      8    480     2640

Total ::                                                                           2640


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    grapes     1005       1210    Rajesh       45      4    180      180
  2  28/02/2021   120005    grapes     1005       1214    Steve        45      3    135      315

Total ::                                                                            315


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    pears      1003       1211    Rakesh       30      6    180      180
  2  27/02/2021   120003    pears      1003       1212    Sahil        30      2     60      240
  3  28/02/2021   120004    pears      1003       1213    Jack         30      8    240      480

Total ::                                                                            480


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    mango      1004       1211    Rakesh       50      8    400      400
  2  27/02/2021   120003    mango      1004       1212    Sahil        50      6    300      700
  3  02/03/2021   120006    mango      1004       1215    Rohan        50     12    600     1300
  4  05/03/2021   120009    mango      1004       1215    Rohan        50     10    500     1800
  5  05/03/2021   120011    mango      1004       1217    mikul        50      6    300     2100

Total ::                                                                           2100


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    orange     1002       1211    Rakesh       40      6    240      240
  2  27/02/2021   120003    orange     1002       1212    Sahil        40      4    160      400
  3  28/02/2021   120004    orange     1002       1213    Jack         40      9    360      760
  4  02/03/2021   120006    orange     1002       1215    Rohan        40     13    520     1280
  5  03/03/2021   120007    orange     1002       1211    Rakesh       40     10    400     1680

Total ::                                                                           1680


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    cherry     1012       1212    Sahil        90      5    450      450
  2  02/03/2021   120006    cherry     1012       1215    Rohan        90      7    630     1080
  3  05/03/2021   120009    cherry     1012       1215    Rohan        90      8    720     1800

Total ::                                                                           1800


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120004    pineapple  1007       1213    Jack         60      5    300      300

Total ::                                                                            300


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    guava      1006       1215    Rohan        40      8    320      320

Total ::                                                                            320


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    Strawberry 1010       1215    Rohan       150     10   1500     1500

Total ::                                                                           1500


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  03/03/2021   120007    dates      1008       1211    Rakesh      100     15   1500     1500
  2  04/03/2021   120008    dates      1008       1214    Steve       100     13   1300     2800
  3  05/03/2021   120009    dates      1008       1215    Rohan       100     12   1200     4000
  4  05/03/2021   120010    dates      1008       1216    Millan      100      8    800     4800

Total ::                                                                           4800


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  03/03/2021   120007    banana     1009       1211    Rakesh       10     10    100      100
  2  04/03/2021   120008    banana     1009       1214    Steve        10     10    100      200

Total ::                                                                            200


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  04/03/2021   120008    Blackberry 1011       1214    Steve       110      2    220      220

Total ::                                                                            220


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jelly      1013       1216    Millan       20      5    100      100

Total ::                                                                            100


  x     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jackfruit  1014       1216    Millan       40     50   2000     2000

Total ::                                                                           2000

In [ ]:
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
a_sum = 0
x = 0

print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
print()

for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity
        a_sum = a_sum + amount
        x = x+1




        
        print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
print()
print("Total ::                                                             {:>5}".format(a_sum))