In [11]:
tr = [(('1210','120001','25/02/2021'),('apple',3),('grapes',4)),
    (('1211','120002','26/02/2021'),('pears',6),('mango',8),('orange',6)),
    (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
    (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
    (('1214','120005','01/03/2021'),('grapes',3),('apple',7)),
    (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
    (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
    (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
    (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
    (('1216','120010','06/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
    (('1217','120011','07/03/2021'),('mango',6),('apple',8))]

cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]


#*****************************************************************************************************************************************************************

#No.1

#Start Function.

def item_code(i_name):
    i_name = i_name
    for i in range(len(item_detail)):
        if i_name == item_detail[i][1]:
            i_code = item_detail[i][0]
            return i_code

#End Function.

#*****************************************************************************************************************************************************************

# No.2
#Start Function.

def item_name(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        if i_code == item_detail[i][0]:
            i_name = item_detail[i][1]
            return i_name
#End Function.         

#************************************************************************************************************************************************************        

# No.3
#Start Function.

def cust_name(customer_id):
    customer_id = customer_id
    for i in range(len(cu)):
        if customer_id == cu[i][0]:
            c_name = cu[i][1]
            return c_name
#End Function.

#************************************************************************************************************************************************************

# No.4
#Strat Function.

def cust_id(customer_name):
    customer_name = customer_name
    for i in range(len(cu)):
        if customer_name == cu[i][1]:
            c_id = cu[i][0]
            return c_id

# End Function.

#************************************************************************************************************************************************************

# NO.5
#Start Function.

def item_code_un_list():
    un_list = []
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]



            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    i_code = item_detail[l][0]



                    if i_code not in un_list:
                        un_list.append(i_code)
    return un_list
#End fucntion.

#***************************************************************************************************************************************************************************

# No.6
#Start Function.

def item_un_list():
    un_item = []
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            if tr[i][j][0] not in un_item:
                un_item.append(tr[i][j][0])
    return un_item

#End Fucntion.

#*******************************************************************************************************************************************************************

# No.7
#Start Fucntion.

def cust_id_un_list():
    un = []
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            cu_id = tr[i][0]
            
            if cu_id not in un:
                un.append(cu_id)
    return un
#End Function.

#************************************************************************************************************************************************************

# No.8
#Start Function.

def cust_master_list(value):


    c_id = value
    c_name = value
    r_id = value
    s = 0
    c_all = value
    x = 1


    print("{:>2}  {}     {:<12}".format('sl.no','cu_id','cu_name'))
    print()

    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        s = s+1
        if c_id == cu_id:
            print("{:>2}      {}      {:<12}".format(s,cu_id,cu_name))
            x = 1
            break
    
        elif c_name == cu_name:
            print("{:>2}      {}      {:<12}".format(s,cu_id,cu_name))
            x = 1
            break
    
        elif r_id == s:
            print("{:>2}      {}      {:<12}".format(s,cu_id,cu_name))
            x = 1
            break
        
        elif c_all == 'al':
            print("{:>2}      {}      {:<12}".format(s,cu_id,cu_name))
        
        else:
            x = 0

    if x == 0:
        print('Record not Found')

#End Fucntion.

#************************************************************************************************************************************************************

# No.9
#Start Function.

def main_tr_db():                          
    item = ''
    quantity = 0
    cu_id = ''
    bill = ''
    date = ''
    cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    q_sum = 0
    x = 0

    print("{:>2}  {}  {}      {}  {:<10}{}   {}   {:<6}  {:>3}   {:>5}".format('Sl.no','Bill.No','Date','Item_code','Item','Item_Rate','cu_id','cu_name','Quantity','Amount'))

    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]
        
        
            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]
            
            
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
            amount = item_rate * quantity
            x = x+1
            a_sum = a_sum+amount
            print("{:>2}    {}   {}    {}     {:<10}   {:>3}       {}   {:<6}   {:>3}      {:>8}".format(x,bill,date,item_code,item,item_rate,cu_id,cu_name,quantity,amount))
    print()
    print("Total:-                                                                                {:>5}".format(a_sum))


#End Function.

#**********************************************************************************************************************************************************************

# No.10
#Start Function.

def item_wise_cust(i_code):
    i_code = i_code



    print()
    print("{:<12}   {}  {:<10}  {}   {:>3}   {:>5}   {:>5}".format('Customer_Name','Customer_ID','Item_name','Item_Code','Item_rate','Item_Qty','Amount'))
    print()
    
    item = ''
    quantity = 0
    cu_id = ''
    cu_name = ''
    item_rate = 0
    item_code = ''
    amount = 0
    a_sum = 0
    q_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_rate = item_detail[l][2]
                    item_code = item_detail[l][0]

            amount = item_rate * quantity


            if item_code == i_code:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
                print("{:<12}      {}        {:<10}    {}        {:>3}     {:>5}        {:>5}".format(cu_name,cu_id,item,item_code,item_rate,quantity,a_sum))
    print()
    print("Total ::                                                           {}         {}".format(q_sum,a_sum))
    print() 

#End Function.

#************************************************************************************************************************************************************

# No.11  

#******************************************************************************************************************************************************
#  Start of Fucntion.

#This Fucntion Deifines that which items does the customer bought.
#so we have to put the customer id as input  and it will give the list of items bought by the cutsomer as output.

def cust_wise_items(c_id):
    c_id = c_id

   
    item = ''
    quantity = 0
    cu_id = ''
    bill = ''
    cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    cu_amount = 0
    a_sum = 0
    x = 0

    print()
    print("{:>2}  {}  {}  {:<10}{}   {}   {:<6}  {:>3}     {:>5}".format('Sl.no','Bill.No','Item_code','Item','Item_Rate','cu_id','cu_name','Quantity','Amount'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]
            
            
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
        
            x = x+1
            amount = item_rate * quantity
            a_sum = a_sum+amount
            
            if c_id == cu_id:
                cu_amount = cu_amount+amount
                print("{:>2}     {}    {}     {:<10}   {:>3}       {}   {:<6}   {:>3}      {:>8}".format(x,bill,item_code,item,item_rate,cu_id,cu_name,quantity,amount))
    print()
    
    return ("Total:-                                                                     {:>5}".format(cu_amount))
       
#  END of Fucntion    

#************************************************************************************************************************************************************

# No.12

#Start Function.

def item_wise_amount(i_code):
    i_code = i_code

   # print()
    #print("{:<10}  {}    {:>5}   {:>5}".format('Item_Code','Item_Name','Qty_Sum','Amount_Sum'))
   # print()
#***************************************************************************************************************************************************************    
    item = ''
    quantity = 0
    cu_id = ''
    bill = ''
    cu_name = ''
    item_rate = 0
    item_code = ''
    amount = 0
    a_sum = 0
    q_sum = 0
    
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0]
            bill = tr[i][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_rate = item_detail[l][2]
                    item_code = item_detail[l][0]

            amount = item_rate * quantity
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        # code for finding item_wise_amount.
          
#             if item == i_name:
#                 a_sum = a_sum + amount
#                 q_sum = q_sum+quantity
#                 print("{:<12}      {}        {:<10}    {}        {:>3}     {:>5}        {:>5}".format(cu_name,cu_id,item,item_code,item_rate,quantity,a_sum))
#     print()
#     print("Total ::                                                           {}         {}".format(q_sum,a_sum))
#     print()
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            if item_code == i_code:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
    return i_code,item_name(i_code),q_sum,a_sum
    #  print(" {}       {:<10}   {:>5}      {:>5}".format(i_code,item_name(i_code),q_sum,a_sum))      
    #print()
#End Function

#********************************************************************************************************************************************************************

#No.13
#Start of Function


                            # The purpose of this function is to give all the amount of each customers those who are in un_list(Transaction list)
                        # we call the fucntion by giving the customers id and it will return the amount of all the customers in un_list(Transaction list).

def cust_wise_amount(c_id):
    c_id = c_id


   
    item = ''
    quantity = 0
    cu_id = ''
    bill = ''
    cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    cu_amount = 0
    a_sum = 0
    q_sum = 0
    x = 0


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0]
            bill = tr[i][0]
            
            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]
            
            
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]

        
            amount = item_rate * quantity
        
            if c_id == cu_id:
                cu_amount = cu_amount+amount
    return c_id,cust_name(c_id),cu_amount

#End Function.

#************************************************************************************************************************************************************

# No.14
# Start Function.

def line_wise_item(i_name):
    i_name = i_name



    print()
    print("{:<12}   {}  {:<10}  {}   {:>3}   {:>5}   {:>5}".format('Customer_Name','Customer_ID','Item_name','Item_Code','Item_rate','Item_Qty',     'Amount'))
    print()
    
    item = ''
    quantity = 0
    cu_id = ''
    bill = ''
    cu_name = ''
    item_rate = 0
    item_code = ''
    amount = 0
    a_sum = 0
    q_sum = 0
    
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_rate = item_detail[l][2]
                    item_code = item_detail[l][0]

            amount = item_rate * quantity


            if item == i_name:
                a_sum = a_sum + amount
                q_sum = q_sum+quantity
                print("{:<12}      {}        {:<10}    {}        {:>3}     {:>5}        {:>5}".format(cu_name,cu_id,item,item_code,item_rate,quantity,a_sum))
    print()
    print("Total ::                                                           {}         {}".format(q_sum,a_sum))
    print()

    
#End Function.

#************************************************************************************************************************************************************

# No.15
#Start Fucntion.

def item_wise_summary():
    u = item_code_un_list()
    i_sum = 0
    for i in u:
        m = item_wise_amount(i)
        i_sum = i_sum + m[3]
        print(m)
    return 'Total Sum of sells:- ',i_sum

#End Function.

#************************************************************************************************************************************************************        

# No.16
#Start Fucntion.

def cust_wise_summary():

    m = cust_id_un_list()
    sum1 = 0
    for i in m:
        u = cust_wise_amount(i)
        sum1 = sum1 + u[2]
        print(u)
    return 'Total sum of sellings:-',sum1

#End Fucntion
#************************************************************************************************************************************************************
# No.17
#Start Function.



def ls_wise_items(*ls):
    for i in ls:
        print(cust_wise_items(i))

        
#End Fucntion.
#******************************************************************************************************************************************************


def item_wise_bill(i_name):


    item = ''
    cu_id = ''
    quantity = 0
    bill = ''
    item_code = ''
    item_rate = ''
    cu_name = ''
    i_name = i_name
    amount = 0
    a_sum = 0

    print(" {}            {:<10}  {}  {}  {:<8} {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            

            

            if i_name == item:
                a_sum = a_sum + amount
                print("{:<15}  {:<10}    {}      {}   {:<8} {:>3}   {:>5}".format(bill,item,item_code,cu_id,cu_name,amount,a_sum))
    print()
    print( "{}  {}                                       {:>6}".format('Total amount of',i_name,a_sum))
                        
                



def bill_wise_item(i_bill):

    item = ''
    cu_id = ''
    quantity = 0
    bill = ''
    item_code = ''
    item_rate = ''
    cu_name = ''
    i_bill = i_bill
    amount = 0
    a_sum = 0

    print(" {}       {:<10}  {}  {}  {:<8} {}   {}   {:>5}  {}".format('bill','item','item_code','cu_id','cu_name','Quantity','item_rate','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            

            

            if i_bill == bill:
                a_sum = a_sum + amount
                c_name = cu_name
            
                print("{:<10}  {:<10}    {}      {}   {:<8} {:>3}          {:>3}     {:>5}   {:>5}".format(bill,item,item_code,cu_id,cu_name,quantity,item_rate,amount,a_sum))
    print()
    print( "{}  {}                                                  {:>5}".format('Total amount of',c_name,a_sum))
                        



def bill_wise_amount(i_bill):
 
    item = ''
    cu_id = ''
    quantity = 0
    bill = ''
    item_code = ''
    item_rate = ''
    cu_name = ''
    i_bill = i_bill
    amount = 0
    a_sum = 0
    c_name = ''
    c_id = ''

    print("             {}    {}    {}     {}".format('Bill.No','cu_name','cu_id','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            cu_id = tr[i][0][0]
            bill = tr[i][0][1]

            for k in range(len(cu)):
                if cu_id == cu[k][0]:
                    cu_name = cu[k][1]

            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            

            

            if i_bill == bill:
                a_sum = a_sum + amount
                c_name = cu_name
                c_id = cu_id
                
    print( "{:<10} {:<6}      {}    {:>5}  {:>8}".format('Billing of:-',i_bill,c_name,c_id,a_sum))

In [14]:
item_wise_cust('1005')

Customer_Name   Customer_ID  Item_name   Item_Code   Item_rate   Item_Qty   Amount

                  ('1210', '120001', '25/02/2021')        grapes        1005         45         4          180
                  ('1214', '120005', '01/03/2021')        grapes        1005         45         3          315

Total ::                                                           7         315

In [13]:
main_tr_db()

Sl.no  Bill.No  Date      Item_code  Item      Item_Rate   cu_id   cu_name  Quantity   Amount

 1  120001   25/02/2021    1001     apple         60       1210   Rajesh     3           180
 2  120001   25/02/2021    1005     grapes        45       1210   Rajesh     4           180
 3  120002   26/02/2021    1003     pears         30       1211   Rakesh     6           180
 4  120002   26/02/2021    1004     mango         50       1211   Rakesh     8           400
 5  120002   26/02/2021    1002     orange        40       1211   Rakesh     6           240
 6  120003   27/02/2021    1003     pears         30       1212   Sahil      2            60
 7  120003   27/02/2021    1001     apple         60       1212   Sahil      3           180
 8  120003   27/02/2021    1002     orange        40       1212   Sahil      4           160
 9  120003   27/02/2021    1012     cherry        90       1212   Sahil      5           450
10  120003   27/02/2021    1004     mango         50       1212   Sahil      6           300
11  120003   27/02/2021    1001     apple         60       1212   Sahil      7           420
12  120004   28/02/2021    1002     orange        40       1213   Jack       9           360
13  120004   28/02/2021    1003     pears         30       1213   Jack       8           240
14  120004   28/02/2021    1007     pineapple     60       1213   Jack       5           300
15  120005   01/03/2021    1005     grapes        45       1214   Steve      3           135
16  120005   01/03/2021    1001     apple         60       1214   Steve      7           420
17  120006   02/03/2021    1004     mango         50       1215   Rohan     12           600
18  120006   02/03/2021    1002     orange        40       1215   Rohan     13           520
19  120006   02/03/2021    1006     guava         40       1215   Rohan      8           320
20  120006   02/03/2021    1010     Strawberry   150       1215   Rohan     10          1500
21  120006   02/03/2021    1012     cherry        90       1215   Rohan      7           630
22  120007   03/03/2021    1008     dates        100       1211   Rakesh    15          1500
23  120007   03/03/2021    1009     banana        10       1211   Rakesh    10           100
24  120007   03/03/2021    1002     orange        40       1211   Rakesh    10           400
25  120008   04/03/2021    1008     dates        100       1214   Steve     13          1300
26  120008   04/03/2021    1009     banana        10       1214   Steve     10           100
27  120008   04/03/2021    1011     Blackberry   110       1214   Steve      2           220
28  120009   05/03/2021    1008     dates        100       1215   Rohan     12          1200
29  120009   05/03/2021    1001     apple         60       1215   Rohan     10           600
30  120009   05/03/2021    1004     mango         50       1215   Rohan     10           500
31  120009   05/03/2021    1012     cherry        90       1215   Rohan      8           720
32  120010   06/03/2021    1001     apple         60       1216   Millan     6           360
33  120010   06/03/2021    1008     dates        100       1216   Millan     8           800
34  120010   06/03/2021    1013     jelly         20       1216   Millan     5           100
35  120010   06/03/2021    1014     jackfruit     40       1216   Millan    50          2000
36  120011   07/03/2021    1004     mango         50       1217   mikul      6           300
37  120011   07/03/2021    1001     apple         60       1217   mikul      8           480

Total:-                                                                                18455

In [3]:
bill_wise_amount('120006')

             Bill.No    cu_name    cu_id     a_sum

Billing of:- 120006      Rohan     1215      3570

In [4]:
bill_wise_item('120006')

 bill       item        item_code  cu_id  cu_name  Quantity   item_rate   amount  a_sum

120006      mango         1004      1215   Rohan     12           50       600     600
120006      orange        1002      1215   Rohan     13           40       520    1120
120006      guava         1006      1215   Rohan      8           40       320    1440
120006      Strawberry    1010      1215   Rohan     10          150      1500    2940
120006      cherry        1012      1215   Rohan      7           90       630    3570

Total amount of  Rohan                                                   3570

In [14]:
item_wise_bill('apple')

 bill            item        item_code  cu_id  cu_name  amount  a_sum

120001           apple         1001      1210   Rajesh   180     180
120003           apple         1001      1212   Sahil    180     360
120003           apple         1001      1212   Sahil    420     780
120005           apple         1001      1214   Steve    420    1200
120009           apple         1001      1215   Rohan    600    1800
120010           apple         1001      1216   Millan   360    2160
1200011          apple         1001      1217   mikul    480    2640

Total amount of  apple                                         2640

In [4]:
line_wise_item('apple')

Customer_Name   Customer_ID  Item_name   Item_Code   Item_rate   Item_Qty   Amount

Rajesh            1210        apple         1001         60         3          180
Sahil             1212        apple         1001         60         3          360
Sahil             1212        apple         1001         60         7          780
Steve             1214        apple         1001         60         7         1200
Rohan             1215        apple         1001         60        10         1800
Millan            1216        apple         1001         60         6         2160
mikul             1217        apple         1001         60         8         2640

Total ::                                                           44         2640

In [5]:
ls_wise_items('1212','1214','1216')

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

 6     120003    1003     pears         30       1212   Sahil      2            60
 7     120003    1001     apple         60       1212   Sahil      3           180
 8     120003    1002     orange        40       1212   Sahil      4           160
 9     120003    1012     cherry        90       1212   Sahil      5           450
10     120003    1004     mango         50       1212   Sahil      6           300
11     120003    1001     apple         60       1212   Sahil      7           420

Total:-                                                                      1570

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

15     120005    1005     grapes        45       1214   Steve      3           135
16     120005    1001     apple         60       1214   Steve      7           420
25     120005    1008     dates        100       1214   Steve     13          1300
26     120005    1009     banana        10       1214   Steve     10           100
27     120005    1011     Blackberry   110       1214   Steve      2           220

Total:-                                                                      2175

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

32     120008    1001     apple         60       1216   Millan     6           360
33     120008    1008     dates        100       1216   Millan     8           800
34     120008    1013     jelly         20       1216   Millan     5           100
35     120008    1014     jackfruit     40       1216   Millan    50          2000

Total:-                                                                      3260

In [4]:
main_tr_db()

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

 1     120001    1001     apple         60       1210   Rajesh     3           180
 2     120001    1005     grapes        45       1210   Rajesh     4           180
 3     120002    1003     pears         30       1211   Rakesh     6           180
 4     120002    1004     mango         50       1211   Rakesh     8           400
 5     120002    1002     orange        40       1211   Rakesh     6           240
 6     120003    1003     pears         30       1212   Sahil      2            60
 7     120003    1001     apple         60       1212   Sahil      3           180
 8     120003    1002     orange        40       1212   Sahil      4           160
 9     120003    1012     cherry        90       1212   Sahil      5           450
10     120003    1004     mango         50       1212   Sahil      6           300
11     120003    1001     apple         60       1212   Sahil      7           420
12     120004    1002     orange        40       1213   Jack       9           360
13     120004    1003     pears         30       1213   Jack       8           240
14     120004    1007     pineapple     60       1213   Jack       5           300
15     120005    1005     grapes        45       1214   Steve      3           135
16     120005    1001     apple         60       1214   Steve      7           420
17     120006    1004     mango         50       1215   Rohan     12           600
18     120006    1002     orange        40       1215   Rohan     13           520
19     120006    1006     guava         40       1215   Rohan      8           320
20     120006    1010     Strawberry   150       1215   Rohan     10          1500
21     120006    1012     cherry        90       1215   Rohan      7           630
22     120007    1008     dates        100       1211   Rakesh    15          1500
23     120007    1009     banana        10       1211   Rakesh    10           100
24     120007    1002     orange        40       1211   Rakesh    10           400
25     120005    1008     dates        100       1214   Steve     13          1300
26     120005    1009     banana        10       1214   Steve     10           100
27     120005    1011     Blackberry   110       1214   Steve      2           220
28     120008    1008     dates        100       1215   Rohan     12          1200
29     120008    1001     apple         60       1215   Rohan     10           600
30     120008    1004     mango         50       1215   Rohan     10           500
31     120008    1012     cherry        90       1215   Rohan      8           720
32     120008    1001     apple         60       1216   Millan     6           360
33     120008    1008     dates        100       1216   Millan     8           800
34     120008    1013     jelly         20       1216   Millan     5           100
35     120008    1014     jackfruit     40       1216   Millan    50          2000
36     120009    1004     mango         50       1217   mikul      6           300
37     120009    1001     apple         60       1217   mikul      8           480

Total:-                                                                       18455

In [13]:
line_wise_item('1005')

Customer_Name   Customer_ID  Item_name   Item_Code   Item_rate   Item_Qty   Amount


Total ::                                                           0         0

In [12]:
item_wise_amount('1005')

('1005', 'grapes', 7, 315)

In [11]:
cust_wise_summary()

(('1210', '120001'), None, 360)
(('1211', '120002'), None, 820)
(('1212', '120003'), None, 1570)
(('1213', '120004'), None, 900)
(('1214', '120005'), None, 555)
(('1215', '120006'), None, 3570)
(('1211', '120007'), None, 2000)
(('1214', '120008'), None, 1620)
(('1215', '120009'), None, 3020)
(('1216', '120010'), None, 3260)
(('1217', '1200011'), None, 780)

('Total sum of sellings:-', 18455)

In [18]:

def bill_no(billnum):
    billnum = billnum
    for i in range(len(cu)):
        if billnum == cu[i][2]:
            print()

In [19]:
def bill_no('120001')

SyntaxError: invalid syntax (<ipython-input-19-b8bbf416f3d5>, line 1)

In [5]:
cust_wise_items('1212')

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

 6     120003    1003     pears         30       1212   Sahil      2            60
 7     120003    1001     apple         60       1212   Sahil      3           180
 8     120003    1002     orange        40       1212   Sahil      4           160
 9     120003    1012     cherry        90       1212   Sahil      5           450
10     120003    1004     mango         50       1212   Sahil      6           300
11     120003    1001     apple         60       1212   Sahil      7           420

'Total:-                                                                      1570'

In [6]:
main_tr_db()

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

 1     120001    1001     apple         60       1210   Rajesh     3           180
 2     120001    1005     grapes        45       1210   Rajesh     4           180
 3     120002    1003     pears         30       1211   Rakesh     6           180
 4     120002    1004     mango         50       1211   Rakesh     8           400
 5     120002    1002     orange        40       1211   Rakesh     6           240
 6     120003    1003     pears         30       1212   Sahil      2            60
 7     120003    1001     apple         60       1212   Sahil      3           180
 8     120003    1002     orange        40       1212   Sahil      4           160
 9     120003    1012     cherry        90       1212   Sahil      5           450
10     120003    1004     mango         50       1212   Sahil      6           300
11     120003    1001     apple         60       1212   Sahil      7           420
12     120004    1002     orange        40       1213   Jack       9           360
13     120004    1003     pears         30       1213   Jack       8           240
14     120004    1007     pineapple     60       1213   Jack       5           300
15     120005    1005     grapes        45       1214   Steve      3           135
16     120005    1001     apple         60       1214   Steve      7           420
17     120006    1004     mango         50       1215   Rohan     12           600
18     120006    1002     orange        40       1215   Rohan     13           520
19     120006    1006     guava         40       1215   Rohan      8           320
20     120006    1010     Strawberry   150       1215   Rohan     10          1500
21     120006    1012     cherry        90       1215   Rohan      7           630
22     120007    1008     dates        100       1211   Rakesh    15          1500
23     120007    1009     banana        10       1211   Rakesh    10           100
24     120007    1002     orange        40       1211   Rakesh    10           400
25     120005    1008     dates        100       1214   Steve     13          1300
26     120005    1009     banana        10       1214   Steve     10           100
27     120005    1011     Blackberry   110       1214   Steve      2           220
28     120008    1008     dates        100       1215   Rohan     12          1200
29     120008    1001     apple         60       1215   Rohan     10           600
30     120008    1004     mango         50       1215   Rohan     10           500
31     120008    1012     cherry        90       1215   Rohan      8           720
32     120008    1001     apple         60       1216   Millan     6           360
33     120008    1008     dates        100       1216   Millan     8           800
34     120008    1013     jelly         20       1216   Millan     5           100
35     120008    1014     jackfruit     40       1216   Millan    50          2000
36     120009    1004     mango         50       1217   mikul      6           300
37     120009    1001     apple         60       1217   mikul      8           480

Total:-                                                                       18455

In [13]:
ls_wise_items('1212','1216','1214')

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

 6     120003    1003     pears         30       1212   Sahil      2            60
 7     120003    1001     apple         60       1212   Sahil      3           180
 8     120003    1002     orange        40       1212   Sahil      4           160
 9     120003    1012     cherry        90       1212   Sahil      5           450
10     120003    1004     mango         50       1212   Sahil      6           300
11     120003    1001     apple         60       1212   Sahil      7           420

Total:-                                                                        1570

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

32     120008    1001     apple         60       1216   Millan     6           360
33     120008    1008     dates        100       1216   Millan     8           800
34     120008    1013     jelly         20       1216   Millan     5           100
35     120008    1014     jackfruit     40       1216   Millan    50          2000

Total:-                                                                        3260

Sl.no  Bill.No  Item_code  Item      Item_Rate   cu_id   cu_name  Quantity     Amount

15     120005    1005     grapes        45       1214   Steve      3           135
16     120005    1001     apple         60       1214   Steve      7           420
25     120005    1008     dates        100       1214   Steve     13          1300
26     120005    1009     banana        10       1214   Steve     10           100
27     120005    1011     Blackberry   110       1214   Steve      2           220

Total:-                                                                        2175

In [3]:
cust_wise_amount('1214')

('1214', 'Steve', 2175)

In [5]:
item_un_list()

['apple',
 'grapes',
 'pears',
 'mango',
 'orange',
 'cherry',
 'pineapple',
 'guava',
 'Strawberry',
 'dates',
 'banana',
 'Blackberry',
 'jelly',
 'jackfruit']

In [15]:
cust_master_list('Jack')

sl.no  cu_id     cu_name

 4      1213      Jack