In [12]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

def main_tr_db():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1




            
            print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                             {:>5}".format(a_sum))

#******************************************************************************************************************************************************

In [6]:


def item_cust(i_name,c_name):

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = ''

    # print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
    # print()

    # for u in range(len(tr_item_un)):
    #     i_name = tr_item_un[u]
    #     a_sum = 0
    #     q_sum = 0

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount
                # a_sum = a_sum + amount
                # q_sum = q_sum + quantity
                # t_item_code = item_code
                # t_item_name = item
                # t_item_rate = item_rate
                
                    prn2 = s_amount
    #print(prn2,end = '  ')
    return prn2
                
    #     c_sum = c_sum + a_sum        
    #     print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    # print()
    # print("Total ::                                          {:>6}".format(c_sum))
    # print()

In [ ]:
#Note That
# Last date of billing of a customer.
# for how many days the customer haven't vist the store.

In [11]:
item_cust('dates','Millan')

800

In [16]:
item_name_code('mango')

'1004'

In [19]:
tr_cu_un

['1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217']

In [46]:
tr_item_un

['apple',
 'grapes',
 'pears',
 'mango',
 'orange',
 'cherry',
 'pineapple',
 'guava',
 'Strawberry',
 'dates',
 'banana',
 'Blackberry',
 'jelly',
 'jackfruit']

In [35]:


for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('apple',n)
    print(it,end = '  ')

180    600    420  600  360  480

In [37]:
for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('apple',n)
    print(it,end = '  ')



for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('grapes',n)
    print(it,end = '  ')

180    600    420  600  360  480  180        135

In [45]:

for j in range(len(tr_item_un)):
    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        m = tr_item_un[j]
        # print(n,end = '  ')
        it = item_cust(m,n)
        print(n,it)
    print()

Rajesh 180
Rakesh
Sahil 600
Jack
Steve 420
Rohan 600
Millan 360
mikul 480

Rajesh 180
Rakesh
Sahil
Jack
Steve 135
Rohan
Millan
mikul

Rajesh
Rakesh 180
Sahil 60
Jack 240
Steve
Rohan
Millan
mikul

Rajesh
Rakesh 400
Sahil 300
Jack
Steve
Rohan 1100
Millan
mikul 300

Rajesh
Rakesh 640
Sahil 160
Jack 360
Steve
Rohan 520
Millan
mikul

Rajesh
Rakesh
Sahil 450
Jack
Steve
Rohan 1350
Millan
mikul

Rajesh
Rakesh
Sahil
Jack 300
Steve
Rohan
Millan
mikul

Rajesh
Rakesh
Sahil
Jack
Steve
Rohan 320
Millan
mikul

Rajesh
Rakesh
Sahil
Jack
Steve
Rohan 1500
Millan
mikul

Rajesh
Rakesh 1500
Sahil
Jack
Steve 1300
Rohan 1200
Millan 800
mikul

Rajesh
Rakesh 100
Sahil
Jack
Steve 100
Rohan
Millan
mikul

Rajesh
Rakesh
Sahil
Jack
Steve 220
Rohan
Millan
mikul

Rajesh
Rakesh
Sahil
Jack
Steve
Rohan
Millan 100
mikul

Rajesh
Rakesh
Sahil
Jack
Steve
Rohan
Millan 2000
mikul

In [7]:
main_tr_db()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455

Total ::                                                             18455

In [10]:
it_name = 'cherry'
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust(it_name,z)

    450      1350